{"swagger":"2.0","info":{"description":"Adresse de la documentation http://hubeau.eaufrance.fr/page/api-temperature-en-continu-cours-deau","version":"1.0.1","title":"API Hub'Eau - Température des cours d'eau en continu","contact":{},"license":{}},"host":"hubeau.eaufrance.fr","basePath":"/api","tags":[{"name":"temperature","description":"Opérations sur la témperature des cours d'eau en continu"}],"paths":{"/v1/temperature/chronique":{"get":{"tags":["temperature"],"summary":"Lister les chroniques de température","description":"Ce service permet de rechercher des chroniques de température sur des cours d'eau et plan d'eau en France et les DROM.<br/>Source de données : Naïades est l'interface nationale pour l'accès aux données des rivières et des lacs. <a href='http://naiades.eaufrance.fr/acces-donnees#/temperature' target='_blank'>http://naiades.eaufrance.fr/acces-donnees#/temperature</a><br/>Si la valeur du paramètre size n'est pas renseignée, la taille de page par défaut : 1000, taille max de la page : 20000.<br/>La profondeur d'accès aux résultats est : 20000, calcul de la profondeur = numéro de la page * nombre maximum de résultats dans une page.<br/>Trie par défaut : code_station asc, date_mesure_temp asc, heure_mesure_temp asc","operationId":"chroniques","produces":["application/json","application/vnd.geo+json","application/javascript;charset=UTF-8"],"parameters":[{"name":"bbox","in":"query","description":"Rectangle d'emprise de l'objet demandé, emprise au format : min longitude, min latitude, max longitude, max latitude avec les coordonnées en WGS84 (EPSG:4326), le point doit être utilisé comme séparateur décimal, exemple : 1.6194,47.7965,2.1910,47.9988","required":false,"type":"array","items":{"type":"number","format":"double"},"collectionFormat":"multi"},{"name":"code_banque_reference","in":"query","description":"Code(s) de la banque de référence, si plusieurs codes, séparer les codes par une virgule, le nombre maximum de codes est 200","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"code_bassin","in":"query","description":"Code national du bassin DCE, si plusieurs codes, séparer les codes par une virgule, le nombre maximum de code est  10","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"code_commune","in":"query","description":"Code INSEE de la commune où est implantée la station, si plusieurs codes, séparer les codes par une virgule, le nombre maximum de code est  50","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"code_cours_eau","in":"query","description":"Code du du cours d'eau, si plusieurs codes, séparer les codes par une virgule, le nombre maximum de code est  200","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"code_departement","in":"query","description":"Code du département, si plusieurs codes, séparer les codes par une virgule, le nombre maximum de code est  20","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"code_eu_masse_eau","in":"query","description":"Code(s) européen de la masse d'eau associée à la station de mesure, si plusieurs codes, séparer les codes par une virgule, le nombre maximum de codes est 200","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"code_masse_eau","in":"query","description":"Code national de la masse d’eau de la station de mesure, si plusieurs codes, séparer les codes par une virgule, le nombre maximum de code est  200","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"code_qualification","in":"query","description":"Code(s) Sandre de la qualification du résultat de la mesure de température, si plusieurs codes, séparer les codes par une virgule, le nombre maximum de codes est 200. Liste sur https://api.sandre.eaufrance.fr/referentiels/v1/nsa/414.json","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"code_region","in":"query","description":"Code de la région (INSEE), si plusieurs codes, séparer les codes par une virgule, le nombre maximum de code est  10","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"code_sous_bassin","in":"query","description":"Code européen du sous-bassin DCE administratif, si plusieurs codes, séparer les codes par une virgule, le nombre maximum de code est  200","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"code_station","in":"query","description":"Code de la station de mesure: Identifiant de la station de mesure dans le référentiel national Sandre, si plusieurs codes, séparer les codes par une virgule, le nombre maximum de code est  200","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"code_statut","in":"query","description":"Code(s) Sandre du statut du résultat de la mesure de température, si plusieurs codes, séparer les codes par une virgule, le nombre maximum de codes est 200. Liste sur https://api.sandre.eaufrance.fr/referentiels/v1/nsa/446.json","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"code_troncon_hydro","in":"query","description":"Code du tronçon hydrographique associé à la station, si plusieurs codes, séparer les codes par une virgule, le nombre maximum de code est  200","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"date_debut_maj","in":"query","description":"Date du début des mises à jour (format AAAA-MM-JJ). Ex: 2014-12-06 ","required":false,"type":"string","format":"date-time"},{"name":"date_debut_mesure","in":"query","description":"Date de début des mesures de températures : renvoie toutes les mesures à partir de cette date","required":false,"type":"string","format":"date-time"},{"name":"date_fin_maj","in":"query","description":"Date de fin des mises à jour (format AAAA-MM-JJ). Ex: 2014-12-06 ","required":false,"type":"string","format":"date-time"},{"name":"date_fin_mesure","in":"query","description":"Date de fin des mesures de températures : renvoie toutes les mesures antérieures à cette date","required":false,"type":"string","format":"date-time"},{"name":"distance","in":"query","description":"Rayon de recherche en kilomètre, le point doit être utilisé comme séparateur décimal, exemple : 30","required":false,"type":"number","format":"double"},{"name":"fields","in":"query","description":"Liste des champs souhaités dans la réponse (fonctionnalité expérimentale), par exemple fields=code_station,localisation","required":false,"type":"string"},{"name":"format","in":"query","required":false,"type":"string"},{"name":"latitude","in":"query","description":"Latitude du point en WGS84 pour la recherche par rayon, le point doit être utilisé comme séparateur décimal, exemple : 47.829","required":false,"type":"number","format":"double"},{"name":"libelle_bassin","in":"query","description":"Nom du bassin DCE, si plusieurs libellés, séparer les libellés par une virgule, le nombre maximum de libellé est  10","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"libelle_commune","in":"query","description":"Libellé long de la commune, si plusieurs libellés, séparer les libellés par une virgule, le nombre maximum de libellé est  50","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"libelle_cours_eau","in":"query","description":"Libellé long du cours d'eau, si plusieurs libellés, séparer les libellés par une virgule, le nombre maximum de libellé est  200","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"libelle_departement","in":"query","description":"Libellé long du département, si plusieurs libellés, séparer les libellés par une virgule, le nombre maximum de libellé est  20","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"libelle_masse_eau","in":"query","description":"Nom de la masse d’eau, si plusieurs libellés, séparer les libellés par une virgule, le nombre maximum de libellé est  200","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"libelle_qualification","in":"query","description":"Libellé(s) Sandre de la qualification du résultat de la mesure de température, si plusieurs noms, séparer les noms par une virgule, le nombre maximum de noms est 200","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"libelle_region","in":"query","description":"Libellé long de la région, si plusieurs libellés, séparer les libellés par une virgule, le nombre maximum de libellé est  10","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"libelle_sous_bassin","in":"query","description":"Nom du sous bassin DCE administratif, si plusieurs libellés, séparer les libellés par une virgule, le nombre maximum de libellé est  200","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"libelle_station","in":"query","description":"Libellé national de la station de mesure, si plusieurs libellés, séparer les libellés par une virgule, le nombre maximum de libellé est  200","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"libelle_statut","in":"query","description":"Mnémonique(s) du statut du résultat de la mesure de température, si plusieurs noms, séparer les noms par une virgule, le nombre maximum de noms est 200","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"longitude","in":"query","description":"Longitude du point en WGS84 pour la recherche par rayon, le point doit être utilisé comme séparateur décimal, exemple : 1.937","required":false,"type":"number","format":"double"},{"name":"page","in":"query","description":"Numéro de la page","required":false,"type":"integer","format":"int32"},{"name":"resultat_max","in":"query","description":"Valeur maximale (inclue) du résultat de l'analyse : renvoie toutes les mesures inférieures ou égales à cette valeur","required":false,"type":"number","format":"double"},{"name":"resultat_min","in":"query","description":"Valeur minimale (inclue) du résultat de l'analyse : renvoie toutes les mesures supérieures ou égales à cette valeur","required":false,"type":"number","format":"double"},{"name":"size","in":"query","description":"Nombre maximum de résultats dans une page","required":false,"type":"integer","default":20,"format":"int32"},{"name":"sort","in":"query","description":"Ordre de tri (asc ou desc) sur la date de la mesure (si la valeur n'est pas renseignée, la valeur par défaut est asc)","required":false,"type":"string","enum":["asc","desc"]},{"name":"type_entite_hydro","in":"query","description":"Code(s) Sandre de la nature d'entité hydrographique associée à la station de mesure, si plusieurs codes, séparer les codes par une virgule, le nombre maximum de codes est 200. Liste sur https://api.sandre.eaufrance.fr/referentiels/v1/nsa/796.json","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"}],"responses":{"200":{"description":"OK, tous les résultats sont présents dans la réponse","schema":{"originalRef":"Résultat d'une rêquete sur les chroniques","$ref":"#/definitions/Résultat d'une rêquete sur les chroniques"}},"206":{"description":"OK, il reste des résultats","schema":{"originalRef":"Résultat d'une rêquete sur les chroniques","$ref":"#/definitions/Résultat d'une rêquete sur les chroniques"}},"400":{"description":"Requête incorrecte","schema":{"originalRef":"Message d'erreur","$ref":"#/definitions/Message d'erreur"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"500":{"description":"Erreur interne du serveur"}},"deprecated":false}},"/v1/temperature/chronique.csv":{"get":{"tags":["temperature"],"summary":"Lister les chroniques de température au format CSV","description":"Ce service permet de rechercher des chroniques de température sur des cours d'eau et plan d'eau en France et les DROM.<br/>Source de données : Naïades est l'interface nationale pour l'accès aux données des rivières et des lacs. <a href='http://naiades.eaufrance.fr/acces-donnees#/temperature' target='_blank'>http://naiades.eaufrance.fr/acces-donnees#/temperature</a><br/>Si la valeur du paramètre size n'est pas renseignée, la taille de page par défaut : 1000, taille max de la page : 20000.<br/>La profondeur d'accès aux résultats est : 20000, calcul de la profondeur = numéro de la page * nombre maximum de résultats dans une page.<br/>Trie par défaut : code_station asc, date_mesure_temp asc, heure_mesure_temp asc","operationId":"chroniques csv","produces":["text/csv"],"parameters":[{"name":"bbox","in":"query","description":"Rectangle d'emprise de l'objet demandé, emprise au format : min longitude, min latitude, max longitude, max latitude avec les coordonnées en WGS84 (EPSG:4326), le point doit être utilisé comme séparateur décimal, exemple : 1.6194,47.7965,2.1910,47.9988","required":false,"type":"array","items":{"type":"number","format":"double"},"collectionFormat":"multi"},{"name":"code_banque_reference","in":"query","description":"Code(s) de la banque de référence, si plusieurs codes, séparer les codes par une virgule, le nombre maximum de codes est 200","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"code_bassin","in":"query","description":"Code national du bassin DCE, si plusieurs codes, séparer les codes par une virgule, le nombre maximum de code est  10","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"code_commune","in":"query","description":"Code INSEE de la commune où est implantée la station, si plusieurs codes, séparer les codes par une virgule, le nombre maximum de code est  50","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"code_cours_eau","in":"query","description":"Code du du cours d'eau, si plusieurs codes, séparer les codes par une virgule, le nombre maximum de code est  200","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"code_departement","in":"query","description":"Code du département, si plusieurs codes, séparer les codes par une virgule, le nombre maximum de code est  20","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"code_eu_masse_eau","in":"query","description":"Code(s) européen de la masse d'eau associée à la station de mesure, si plusieurs codes, séparer les codes par une virgule, le nombre maximum de codes est 200","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"code_masse_eau","in":"query","description":"Code national de la masse d’eau de la station de mesure, si plusieurs codes, séparer les codes par une virgule, le nombre maximum de code est  200","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"code_qualification","in":"query","description":"Code(s) Sandre de la qualification du résultat de la mesure de température, si plusieurs codes, séparer les codes par une virgule, le nombre maximum de codes est 200. Liste sur https://api.sandre.eaufrance.fr/referentiels/v1/nsa/414.json","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"code_region","in":"query","description":"Code de la région (INSEE), si plusieurs codes, séparer les codes par une virgule, le nombre maximum de code est  10","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"code_sous_bassin","in":"query","description":"Code européen du sous-bassin DCE administratif, si plusieurs codes, séparer les codes par une virgule, le nombre maximum de code est  200","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"code_station","in":"query","description":"Code de la station de mesure: Identifiant de la station de mesure dans le référentiel national Sandre, si plusieurs codes, séparer les codes par une virgule, le nombre maximum de code est  200","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"code_statut","in":"query","description":"Code(s) Sandre du statut du résultat de la mesure de température, si plusieurs codes, séparer les codes par une virgule, le nombre maximum de codes est 200. Liste sur https://api.sandre.eaufrance.fr/referentiels/v1/nsa/446.json","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"code_troncon_hydro","in":"query","description":"Code du tronçon hydrographique associé à la station, si plusieurs codes, séparer les codes par une virgule, le nombre maximum de code est  200","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"date_debut_maj","in":"query","description":"Date du début des mises à jour (format AAAA-MM-JJ). Ex: 2014-12-06 ","required":false,"type":"string","format":"date-time"},{"name":"date_debut_mesure","in":"query","description":"Date de début des mesures de températures : renvoie toutes les mesures à partir de cette date","required":false,"type":"string","format":"date-time"},{"name":"date_fin_maj","in":"query","description":"Date de fin des mises à jour (format AAAA-MM-JJ). Ex: 2014-12-06 ","required":false,"type":"string","format":"date-time"},{"name":"date_fin_mesure","in":"query","description":"Date de fin des mesures de températures : renvoie toutes les mesures antérieures à cette date","required":false,"type":"string","format":"date-time"},{"name":"distance","in":"query","description":"Rayon de recherche en kilomètre, le point doit être utilisé comme séparateur décimal, exemple : 30","required":false,"type":"number","format":"double"},{"name":"fields","in":"query","description":"Liste des champs souhaités dans la réponse (fonctionnalité expérimentale), par exemple fields=code_station,localisation","required":false,"type":"string"},{"name":"latitude","in":"query","description":"Latitude du point en WGS84 pour la recherche par rayon, le point doit être utilisé comme séparateur décimal, exemple : 47.829","required":false,"type":"number","format":"double"},{"name":"libelle_bassin","in":"query","description":"Nom du bassin DCE, si plusieurs libellés, séparer les libellés par une virgule, le nombre maximum de libellé est  10","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"libelle_commune","in":"query","description":"Libellé long de la commune, si plusieurs libellés, séparer les libellés par une virgule, le nombre maximum de libellé est  50","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"libelle_cours_eau","in":"query","description":"Libellé long du cours d'eau, si plusieurs libellés, séparer les libellés par une virgule, le nombre maximum de libellé est  200","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"libelle_departement","in":"query","description":"Libellé long du département, si plusieurs libellés, séparer les libellés par une virgule, le nombre maximum de libellé est  20","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"libelle_masse_eau","in":"query","description":"Nom de la masse d’eau, si plusieurs libellés, séparer les libellés par une virgule, le nombre maximum de libellé est  200","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"libelle_qualification","in":"query","description":"Libellé(s) Sandre de la qualification du résultat de la mesure de température, si plusieurs noms, séparer les noms par une virgule, le nombre maximum de noms est 200","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"libelle_region","in":"query","description":"Libellé long de la région, si plusieurs libellés, séparer les libellés par une virgule, le nombre maximum de libellé est  10","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"libelle_sous_bassin","in":"query","description":"Nom du sous bassin DCE administratif, si plusieurs libellés, séparer les libellés par une virgule, le nombre maximum de libellé est  200","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"libelle_station","in":"query","description":"Libellé national de la station de mesure, si plusieurs libellés, séparer les libellés par une virgule, le nombre maximum de libellé est  200","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"libelle_statut","in":"query","description":"Mnémonique(s) du statut du résultat de la mesure de température, si plusieurs noms, séparer les noms par une virgule, le nombre maximum de noms est 200","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"longitude","in":"query","description":"Longitude du point en WGS84 pour la recherche par rayon, le point doit être utilisé comme séparateur décimal, exemple : 1.937","required":false,"type":"number","format":"double"},{"name":"page","in":"query","description":"Numéro de la page","required":false,"type":"integer","format":"int32"},{"name":"resultat_max","in":"query","description":"Valeur maximale (inclue) du résultat de l'analyse : renvoie toutes les mesures inférieures ou égales à cette valeur","required":false,"type":"number","format":"double"},{"name":"resultat_min","in":"query","description":"Valeur minimale (inclue) du résultat de l'analyse : renvoie toutes les mesures supérieures ou égales à cette valeur","required":false,"type":"number","format":"double"},{"name":"size","in":"query","description":"Nombre maximum de résultats dans une page","required":false,"type":"integer","default":20,"format":"int32"},{"name":"sort","in":"query","description":"Ordre de tri (asc ou desc) sur la date de la mesure (si la valeur n'est pas renseignée, la valeur par défaut est asc)","required":false,"type":"string","enum":["asc","desc"]},{"name":"type_entite_hydro","in":"query","description":"Code(s) Sandre de la nature d'entité hydrographique associée à la station de mesure, si plusieurs codes, séparer les codes par une virgule, le nombre maximum de codes est 200. Liste sur https://api.sandre.eaufrance.fr/referentiels/v1/nsa/796.json","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"}],"responses":{"200":{"description":"OK, tous les résultats sont présents dans la réponse","schema":{"originalRef":"Chronique","$ref":"#/definitions/Chronique"}},"206":{"description":"OK, il reste des résultats","schema":{"originalRef":"Chronique","$ref":"#/definitions/Chronique"}},"400":{"description":"Requête incorrecte","schema":{"originalRef":"Message d'erreur","$ref":"#/definitions/Message d'erreur"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"500":{"description":"Erreur interne du serveur"}},"deprecated":false}},"/v1/temperature/station":{"get":{"tags":["temperature"],"summary":"Lister les stations de mesures de température","description":"Ce service permet de rechercher des stations de mesures  sur des cours d'eau et plan d'eau en France et les DROM.<br/>Source de données : Naïades est l'interface nationale pour l'accès aux données des rivières et des lacs. <a href='http://naiades.eaufrance.fr/acces-donnees#/temperature' target='_blank'>http://naiades.eaufrance.fr/acces-donnees#/temperature</a><br/>Si la valeur du paramètre size n'est pas renseignée, la taille de page par défaut : 1000, taille max de la page : 20000.<br/>La profondeur d'accès aux résultats est : 20000, calcul de la profondeur = numéro de la page * nombre maximum de résultats dans une page.<br/>Trie par défaut : code_station asc","operationId":"stations","produces":["application/json","application/vnd.geo+json","application/javascript;charset=UTF-8"],"parameters":[{"name":"bbox","in":"query","description":"Rectangle d'emprise de l'objet demandé, emprise au format : min longitude, min latitude, max longitude, max latitude avec les coordonnées en WGS84 (EPSG:4326), le point doit être utilisé comme séparateur décimal, exemple : 1.6194,47.7965,2.1910,47.9988","required":false,"type":"array","items":{"type":"number","format":"double"},"collectionFormat":"multi"},{"name":"code_banque_reference","in":"query","description":"Code(s) de la banque de référence, si plusieurs codes, séparer les codes par une virgule, le nombre maximum de codes est 200","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"code_bassin","in":"query","description":"Code national du bassin DCE, si plusieurs codes, séparer les codes par une virgule, le nombre maximum de code est  10","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"code_commune","in":"query","description":"Code INSEE de la commune où est implantée la station, si plusieurs codes, séparer les codes par une virgule, le nombre maximum de code est  50","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"code_cours_eau","in":"query","description":"Code du du cours d'eau, si plusieurs codes, séparer les codes par une virgule, le nombre maximum de code est  200","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"code_departement","in":"query","description":"Code du département, si plusieurs codes, séparer les codes par une virgule, le nombre maximum de code est  20","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"code_eu_masse_eau","in":"query","description":"Code(s) européen de la masse d'eau associée à la station de mesure, si plusieurs codes, séparer les codes par une virgule, le nombre maximum de codes est 200","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"code_masse_eau","in":"query","description":"Code national de la masse d’eau de la station de mesure, si plusieurs codes, séparer les codes par une virgule, le nombre maximum de code est  200","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"code_region","in":"query","description":"Code de la région (INSEE), si plusieurs codes, séparer les codes par une virgule, le nombre maximum de code est  10","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"code_sous_bassin","in":"query","description":"Code européen du sous-bassin DCE administratif, si plusieurs codes, séparer les codes par une virgule, le nombre maximum de code est  200","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"code_station","in":"query","description":"Code de la station de mesure: Identifiant de la station de mesure dans le référentiel national Sandre, si plusieurs codes, séparer les codes par une virgule, le nombre maximum de code est  200","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"code_troncon_hydro","in":"query","description":"Code du tronçon hydrographique associé à la station, si plusieurs codes, séparer les codes par une virgule, le nombre maximum de code est  200","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"date_debut_maj","in":"query","required":false,"type":"string","format":"date-time"},{"name":"date_debut_mesure","in":"query","description":"Date de début des mesures de températures : renvoie toutes les stations ayant des mesures à partir de cette date","required":false,"type":"string","format":"date-time"},{"name":"date_fin_maj","in":"query","description":"Date de fin des mesures de températures : renvoie toutes les stations ayant des mesures antérieures à cette date","required":false,"type":"string","format":"date-time"},{"name":"date_fin_mesure","in":"query","description":"Date de fin des mesures de températures : renvoie toutes les stations ayant des mesures antérieures à cette date","required":false,"type":"string","format":"date-time"},{"name":"distance","in":"query","description":"Rayon de recherche en kilomètre, le point doit être utilisé comme séparateur décimal, exemple : 30","required":false,"type":"number","format":"double"},{"name":"exact_count","in":"query","description":"Si égal true permet d'avoir une pagination (count, last) exacte mais la réponse est moins rapide, sinon (false) c'est une approximation mais la réponse est plus rapide (défaut : true)","required":false,"type":"boolean","default":true},{"name":"fields","in":"query","description":"Liste des champs souhaités dans la réponse (fonctionnalité expérimentale), par exemple fields=code_station,localisation","required":false,"type":"string"},{"name":"format","in":"query","description":"Format de réponse attendu. Supportés : json, geojson (défaut : json)","required":false,"type":"string","default":"json","enum":["json","geojson"]},{"name":"latitude","in":"query","description":"Latitude du point en WGS84 pour la recherche par rayon, le point doit être utilisé comme séparateur décimal, exemple : 47.829","required":false,"type":"number","format":"double"},{"name":"libelle_bassin","in":"query","description":"Nom du bassin DCE, si plusieurs libellés, séparer les libellés par une virgule, le nombre maximum de libellé est  10","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"libelle_commune","in":"query","description":"Libellé long de la commune, si plusieurs libellés, séparer les libellés par une virgule, le nombre maximum de libellé est  50","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"libelle_cours_eau","in":"query","description":"Libellé long du cours d'eau, si plusieurs libellés, séparer les libellés par une virgule, le nombre maximum de libellé est  200","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"libelle_departement","in":"query","description":"Libellé long du département, si plusieurs libellés, séparer les libellés par une virgule, le nombre maximum de libellé est  20","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"libelle_masse_eau","in":"query","description":"Nom de la masse d’eau, si plusieurs libellés, séparer les libellés par une virgule, le nombre maximum de libellé est  200","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"libelle_region","in":"query","description":"Libellé long de la région, si plusieurs libellés, séparer les libellés par une virgule, le nombre maximum de libellé est  10","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"libelle_sous_bassin","in":"query","description":"Nom du sous bassin DCE administratif, si plusieurs libellés, séparer les libellés par une virgule, le nombre maximum de libellé est  200","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"libelle_station","in":"query","description":"Libellé national de la station de mesure, si plusieurs libellés, séparer les libellés par une virgule, le nombre maximum de libellé est  200","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"longitude","in":"query","description":"Longitude du point en WGS84 pour la recherche par rayon, le point doit être utilisé comme séparateur décimal, exemple : 1.937","required":false,"type":"number","format":"double"},{"name":"page","in":"query","description":"Numéro de la page","required":false,"type":"integer","format":"int32"},{"name":"size","in":"query","description":"Nombre maximum de résultats dans une page","required":false,"type":"integer","default":20,"format":"int32"},{"name":"sort","in":"query","description":"Ordre de tri (asc ou desc) sur la date de la mesure (si la valeur n'est pas renseignée, la valeur par défaut est asc)","required":false,"type":"string","enum":["asc","desc"]},{"name":"type_entite_hydro","in":"query","description":"Code(s) Sandre de la nature d'entité hydrographique associée à la station de mesure, si plusieurs codes, séparer les codes par une virgule, le nombre maximum de codes est 200. Liste sur https://api.sandre.eaufrance.fr/referentiels/v1/nsa/796.json","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"}],"responses":{"200":{"description":"OK, tous les résultats sont présents dans la réponse","schema":{"originalRef":"Résultat d'une rêquete sur les stations","$ref":"#/definitions/Résultat d'une rêquete sur les stations"}},"206":{"description":"OK, il reste des résultats","schema":{"originalRef":"Résultat d'une rêquete sur les stations","$ref":"#/definitions/Résultat d'une rêquete sur les stations"}},"400":{"description":"Requête incorrecte","schema":{"originalRef":"Message d'erreur","$ref":"#/definitions/Message d'erreur"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"500":{"description":"Erreur interne du serveur"}},"deprecated":false}},"/v1/temperature/station.csv":{"get":{"tags":["temperature"],"summary":"Lister les stations de mesures de température au format CSV","description":"Ce service permet de rechercher des stations de mesures  sur des cours d'eau et plan d'eau en France et les DROM.<br/>Source de données : Naïades est l'interface nationale pour l'accès aux données des rivières et des lacs. <a href='http://naiades.eaufrance.fr/acces-donnees#/temperature' target='_blank'>http://naiades.eaufrance.fr/acces-donnees#/temperature</a><br/>Si la valeur du paramètre size n'est pas renseignée, la taille de page par défaut : 1000, taille max de la page : 20000.<br/>La profondeur d'accès aux résultats est : 20000, calcul de la profondeur = numéro de la page * nombre maximum de résultats dans une page.<br/>Trie par défaut : code_station asc","operationId":"station csv","produces":["text/csv"],"parameters":[{"name":"bbox","in":"query","description":"Rectangle d'emprise de l'objet demandé, emprise au format : min longitude, min latitude, max longitude, max latitude avec les coordonnées en WGS84 (EPSG:4326), le point doit être utilisé comme séparateur décimal, exemple : 1.6194,47.7965,2.1910,47.9988","required":false,"type":"array","items":{"type":"number","format":"double"},"collectionFormat":"multi"},{"name":"code_banque_reference","in":"query","description":"Code(s) de la banque de référence, si plusieurs codes, séparer les codes par une virgule, le nombre maximum de codes est 200","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"code_bassin","in":"query","description":"Code national du bassin DCE, si plusieurs codes, séparer les codes par une virgule, le nombre maximum de code est  10","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"code_commune","in":"query","description":"Code INSEE de la commune où est implantée la station, si plusieurs codes, séparer les codes par une virgule, le nombre maximum de code est  50","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"code_cours_eau","in":"query","description":"Code du du cours d'eau, si plusieurs codes, séparer les codes par une virgule, le nombre maximum de code est  200","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"code_departement","in":"query","description":"Code du département, si plusieurs codes, séparer les codes par une virgule, le nombre maximum de code est  20","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"code_eu_masse_eau","in":"query","description":"Code(s) européen de la masse d'eau associée à la station de mesure, si plusieurs codes, séparer les codes par une virgule, le nombre maximum de codes est 200","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"code_masse_eau","in":"query","description":"Code national de la masse d’eau de la station de mesure, si plusieurs codes, séparer les codes par une virgule, le nombre maximum de code est  200","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"code_region","in":"query","description":"Code de la région (INSEE), si plusieurs codes, séparer les codes par une virgule, le nombre maximum de code est  10","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"code_sous_bassin","in":"query","description":"Code européen du sous-bassin DCE administratif, si plusieurs codes, séparer les codes par une virgule, le nombre maximum de code est  200","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"code_station","in":"query","description":"Code de la station de mesure: Identifiant de la station de mesure dans le référentiel national Sandre, si plusieurs codes, séparer les codes par une virgule, le nombre maximum de code est  200","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"code_troncon_hydro","in":"query","description":"Code du tronçon hydrographique associé à la station, si plusieurs codes, séparer les codes par une virgule, le nombre maximum de code est  200","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"date_debut_maj","in":"query","required":false,"type":"string","format":"date-time"},{"name":"date_debut_mesure","in":"query","description":"Date de début des mesures de températures : renvoie toutes les stations ayant des mesures à partir de cette date","required":false,"type":"string","format":"date-time"},{"name":"date_fin_maj","in":"query","description":"Date de fin des mesures de températures : renvoie toutes les stations ayant des mesures antérieures à cette date","required":false,"type":"string","format":"date-time"},{"name":"date_fin_mesure","in":"query","description":"Date de fin des mesures de températures : renvoie toutes les stations ayant des mesures antérieures à cette date","required":false,"type":"string","format":"date-time"},{"name":"distance","in":"query","description":"Rayon de recherche en kilomètre, le point doit être utilisé comme séparateur décimal, exemple : 30","required":false,"type":"number","format":"double"},{"name":"exact_count","in":"query","description":"Si égal true permet d'avoir une pagination (count, last) exacte mais la réponse est moins rapide, sinon (false) c'est une approximation mais la réponse est plus rapide (défaut : true)","required":false,"type":"boolean","default":true},{"name":"fields","in":"query","description":"Liste des champs souhaités dans la réponse (fonctionnalité expérimentale), par exemple fields=code_station,localisation","required":false,"type":"string"},{"name":"latitude","in":"query","description":"Latitude du point en WGS84 pour la recherche par rayon, le point doit être utilisé comme séparateur décimal, exemple : 47.829","required":false,"type":"number","format":"double"},{"name":"libelle_bassin","in":"query","description":"Nom du bassin DCE, si plusieurs libellés, séparer les libellés par une virgule, le nombre maximum de libellé est  10","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"libelle_commune","in":"query","description":"Libellé long de la commune, si plusieurs libellés, séparer les libellés par une virgule, le nombre maximum de libellé est  50","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"libelle_cours_eau","in":"query","description":"Libellé long du cours d'eau, si plusieurs libellés, séparer les libellés par une virgule, le nombre maximum de libellé est  200","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"libelle_departement","in":"query","description":"Libellé long du département, si plusieurs libellés, séparer les libellés par une virgule, le nombre maximum de libellé est  20","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"libelle_masse_eau","in":"query","description":"Nom de la masse d’eau, si plusieurs libellés, séparer les libellés par une virgule, le nombre maximum de libellé est  200","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"libelle_region","in":"query","description":"Libellé long de la région, si plusieurs libellés, séparer les libellés par une virgule, le nombre maximum de libellé est  10","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"libelle_sous_bassin","in":"query","description":"Nom du sous bassin DCE administratif, si plusieurs libellés, séparer les libellés par une virgule, le nombre maximum de libellé est  200","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"libelle_station","in":"query","description":"Libellé national de la station de mesure, si plusieurs libellés, séparer les libellés par une virgule, le nombre maximum de libellé est  200","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"longitude","in":"query","description":"Longitude du point en WGS84 pour la recherche par rayon, le point doit être utilisé comme séparateur décimal, exemple : 1.937","required":false,"type":"number","format":"double"},{"name":"page","in":"query","description":"Numéro de la page","required":false,"type":"integer","format":"int32"},{"name":"size","in":"query","description":"Nombre maximum de résultats dans une page","required":false,"type":"integer","default":20,"format":"int32"},{"name":"sort","in":"query","description":"Ordre de tri (asc ou desc) sur la date de la mesure (si la valeur n'est pas renseignée, la valeur par défaut est asc)","required":false,"type":"string","enum":["asc","desc"]},{"name":"type_entite_hydro","in":"query","description":"Code(s) Sandre de la nature d'entité hydrographique associée à la station de mesure, si plusieurs codes, séparer les codes par une virgule, le nombre maximum de codes est 200. Liste sur https://api.sandre.eaufrance.fr/referentiels/v1/nsa/796.json","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"}],"responses":{"200":{"description":"OK, tous les résultats sont présents dans la réponse","schema":{"originalRef":"Station","$ref":"#/definitions/Station"}},"206":{"description":"OK, il reste des résultats","schema":{"originalRef":"Station","$ref":"#/definitions/Station"}},"400":{"description":"Requête incorrecte","schema":{"originalRef":"Message d'erreur","$ref":"#/definitions/Message d'erreur"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"500":{"description":"Erreur interne du serveur"}},"deprecated":false}}},"definitions":{"Chronique":{"type":"object","properties":{"code_station":{"type":"string","description":"Code Sandre de la station de mesure. Liste sur https://api.sandre.eaufrance.fr/referentiels/v1/stq.json"},"libelle_station":{"type":"string","description":"Libellé Sandre de la station de mesure"},"localisation":{"type":"string","description":"Localisation précise de la station de mesure"},"uri_station":{"type":"string","description":"URI de la station de mesure"},"longitude":{"type":"number","format":"double","description":"Longitude du point en WGS84 pour la recherche par rayon, le point doit être utilisé comme séparateur décimal, exemple : 1.937"},"latitude":{"type":"number","format":"double","description":"Latitude de la station de mesure dans le système de coordonnées WGS84"},"code_commune":{"type":"string","description":"Code INSEE de la commune de rattachement de la station de mesure"},"libelle_commune":{"type":"string","description":"Libellé de la commune de rattachement de la station de mesure"},"code_cours_eau":{"type":"string","description":"Code Sandre de l'entité hydrographique associée à la station de mesure. Liste sur https://api.sandre.eaufrance.fr/referentiels/v1/cea.json (cours d'eau) et https://api.sandre.eaufrance.fr/referentiels/v1/pla.json (plan d'eau)"},"libelle_cours_eau":{"type":"string","description":"Libellé Sandre de l'entité hydrographique associée à la station de mesure."},"uri_cours_eau":{"type":"string","description":"URI du cours d'eau"},"code_parametre":{"type":"string","description":"Code Sandre du paramètre Température. Liste sur https://api.sandre.eaufrance.fr/referentiels/v1/par.json"},"libelle_parametre":{"type":"string","description":"Libellé long Sandre  du paramètre Température"},"date_mesure_temp":{"type":"string","format":"date-time","example":"2016-12-01","description":"Date de la mesure"},"heure_mesure_temp":{"type":"string","example":"16:12:36","description":"Heure de la mesure"},"resultat":{"type":"number","format":"double","description":"Résultat"},"code_unite":{"type":"string","description":"Code Sandre de l'unité Degré celsius. Liste sur https://api.sandre.eaufrance.fr/referentiels/v1/urf.json"},"symbole_unite":{"type":"string","description":"Libellé Sandre de l'unité Degré celsius"},"code_qualification":{"type":"string","description":"Code Sandre de la qualification du résultat de la mesure de température. Liste sur https://api.sandre.eaufrance.fr/referentiels/v1/nsa/414.json"},"libelle_qualification":{"type":"string","description":"Libellé Sandre de la qualification du résultat de la mesure de température"}},"title":"Chronique","description":"Chronique"},"Crs":{"type":"object","properties":{"properties":{"type":"object"},"type":{"type":"string","enum":["name","link"]}},"title":"Crs"},"Erreur":{"type":"object","properties":{"code":{"type":"string","description":"Code de l'erreur"},"message":{"type":"string","description":"Message en rapport avec l'erreur sur le paramètre"},"field":{"type":"string","description":"Le nom du paramètre avec l'erreur"}},"title":"Erreur","description":"Erreur"},"Feature":{"type":"object","properties":{"bbox":{"type":"array","items":{"type":"number","format":"double"}},"crs":{"originalRef":"Crs","$ref":"#/definitions/Crs"},"geometry":{"originalRef":"GeoJsonObject","$ref":"#/definitions/GeoJsonObject"},"id":{"type":"string"},"properties":{"type":"object"}},"title":"Feature"},"FeatureCollection":{"type":"object","properties":{"bbox":{"type":"array","items":{"type":"number","format":"double"}},"crs":{"originalRef":"Crs","$ref":"#/definitions/Crs"},"features":{"type":"array","items":{"originalRef":"Feature","$ref":"#/definitions/Feature"}}},"title":"FeatureCollection"},"GeometryCollection":{"type":"object","properties":{"bbox":{"type":"array","items":{"type":"number","format":"double"}},"crs":{"originalRef":"Crs","$ref":"#/definitions/Crs"},"geometries":{"type":"array","items":{"originalRef":"GeoJsonObject","$ref":"#/definitions/GeoJsonObject"}}},"title":"GeometryCollection"},"LineString":{"type":"object","properties":{"bbox":{"type":"array","items":{"type":"number","format":"double"}},"coordinates":{"type":"array","items":{"originalRef":"LngLatAlt","$ref":"#/definitions/LngLatAlt"}},"crs":{"originalRef":"Crs","$ref":"#/definitions/Crs"}},"title":"LineString"},"LngLatAlt":{"type":"object","properties":{"additionalElements":{"type":"array","items":{"type":"number","format":"double"}},"altitude":{"type":"number","format":"double"},"latitude":{"type":"number","format":"double"},"longitude":{"type":"number","format":"double"}},"title":"LngLatAlt"},"Message d'erreur":{"type":"object","properties":{"code":{"type":"string","description":"Code de l'erreur"},"message":{"type":"string","description":"Message en rapport avec l'erreur"},"field_errors":{"type":"array","description":"Liste des paramètres avec des erreurs","items":{"originalRef":"Erreur","$ref":"#/definitions/Erreur"}}},"title":"Message d'erreur","description":"Message d'erreur"},"MultiLineString":{"type":"object","properties":{"bbox":{"type":"array","items":{"type":"number","format":"double"}},"coordinates":{"type":"array","items":{"type":"array","items":{"originalRef":"LngLatAlt","$ref":"#/definitions/LngLatAlt"}}},"crs":{"originalRef":"Crs","$ref":"#/definitions/Crs"}},"title":"MultiLineString"},"MultiPoint":{"type":"object","properties":{"bbox":{"type":"array","items":{"type":"number","format":"double"}},"coordinates":{"type":"array","items":{"originalRef":"LngLatAlt","$ref":"#/definitions/LngLatAlt"}},"crs":{"originalRef":"Crs","$ref":"#/definitions/Crs"}},"title":"MultiPoint"},"MultiPolygon":{"type":"object","properties":{"bbox":{"type":"array","items":{"type":"number","format":"double"}},"coordinates":{"type":"array","items":{"type":"array","items":{"type":"array","items":{"originalRef":"LngLatAlt","$ref":"#/definitions/LngLatAlt"}}}},"crs":{"originalRef":"Crs","$ref":"#/definitions/Crs"}},"title":"MultiPolygon"},"Point":{"type":"object","properties":{"bbox":{"type":"array","items":{"type":"number","format":"double"}},"coordinates":{"originalRef":"LngLatAlt","$ref":"#/definitions/LngLatAlt"},"crs":{"originalRef":"Crs","$ref":"#/definitions/Crs"}},"title":"Point"},"Polygon":{"type":"object","properties":{"bbox":{"type":"array","items":{"type":"number","format":"double"}},"coordinates":{"type":"array","items":{"type":"array","items":{"originalRef":"LngLatAlt","$ref":"#/definitions/LngLatAlt"}}},"crs":{"originalRef":"Crs","$ref":"#/definitions/Crs"}},"title":"Polygon"},"Résultat d'une rêquete sur les chroniques":{"type":"object","required":["api_version","count","data","first","last","next","prev"],"properties":{"count":{"type":"integer","format":"int32","description":"Le nombre total de résultat"},"first":{"type":"string","description":"URL de la 1er page des résultats"},"last":{"type":"string","description":"URL de la dernière page des résultats (non disponible quand la pagination utilise un curseur)"},"prev":{"type":"string","description":"URL de la page précédente"},"next":{"type":"string","description":"URL de la page suivante"},"api_version":{"type":"string","description":"Version de l'API (<a href='https://semver.org/' target='_blank'>https://semver.org/</a>)"},"data":{"type":"array","description":"Les résultats de la requête sous forme de liste","items":{"originalRef":"Chronique","$ref":"#/definitions/Chronique"}}},"title":"Résultat d'une rêquete sur les chroniques","description":"Résultat d'une rêquete sur les chroniques"},"Résultat d'une rêquete sur les stations":{"type":"object","required":["api_version","count","data","first","last","next","prev"],"properties":{"count":{"type":"integer","format":"int32","description":"Le nombre total de résultat"},"first":{"type":"string","description":"URL de la 1er page des résultats"},"last":{"type":"string","description":"URL de la dernière page des résultats (non disponible quand la pagination utilise un curseur)"},"prev":{"type":"string","description":"URL de la page précédente"},"next":{"type":"string","description":"URL de la page suivante"},"api_version":{"type":"string","description":"Version de l'API (<a href='https://semver.org/' target='_blank'>https://semver.org/</a>)"},"data":{"type":"array","description":"Les résultats de la requête sous forme de liste","items":{"originalRef":"Station","$ref":"#/definitions/Station"}}},"title":"Résultat d'une rêquete sur les stations","description":"Résultat d'une rêquete sur les stations"},"Station":{"type":"object","properties":{"code_station":{"type":"string","description":"Code Sandre de la station de mesure. Liste sur https://api.sandre.eaufrance.fr/referentiels/v1/stq.json"},"libelle_station":{"type":"string","description":"Libellé Sandre de la station de mesure"},"uri_station":{"type":"string","description":"URI de la station de mesure"},"localisation":{"type":"string","description":"Localisation précise de la station de mesure"},"coordonnee_x":{"type":"number","format":"double","description":"Abscisse de la station de mesure dans le système de coordonnées projetées"},"coordonnee_y":{"type":"number","format":"double","description":"Ordonnée de la station de mesure dans le système de coordonnées projetées"},"code_type_projection":{"type":"integer","format":"int32","description":"Code Sandre du système de projection des coordonnées de la station de mesure"},"libelle_type_projection":{"type":"string","description":"Libellé Sandre du système de projection des coordonnées de la station de mesure"},"premier_mois_etiage":{"type":"integer","format":"int32","description":"Premier mois de l'année d'étiage de la station de mesure"},"longitude":{"type":"number","format":"double","description":"Longitude de la station de mesure dans le système de coordonnées WGS84"},"latitude":{"type":"number","format":"double","description":"Latitude de la station de mesure dans le système de coordonnées WGS84"},"code_commune":{"type":"string","description":"Code INSEE de la commune de rattachement de la station de mesure"},"libelle_commune":{"type":"string","description":"Libellé de la commune de rattachement de la station de mesure"},"code_departement":{"type":"string","description":"Code INSEE du département de rattachement de la station de mesure"},"libelle_departement":{"type":"string","description":"Libellé du département de rattachement de la station de mesure"},"code_region":{"type":"string","description":"Code INSEE de la région de rattachement de la station de mesure"},"libelle_region":{"type":"string","description":"Libellé INSEE de la région de rattachement de la station de mesure"},"code_troncon_hydro":{"type":"string","description":"Code Sandre du tronçon hydrographique associé à la station de mesure"},"code_cours_eau":{"type":"string","description":"Code Sandre de l'entité hydrographique associée à la station de mesure. Liste sur https://api.sandre.eaufrance.fr/referentiels/v1/cea.json (cours d'eau) et https://api.sandre.eaufrance.fr/referentiels/v1/pla.json (plan d'eau)"},"libelle_cours_eau":{"type":"string","description":"Libellé Sandre de l'entité hydrographique associée à la station de mesure."},"uri_cours_eau":{"type":"string","description":"URI du cours d'eau"},"code_masse_eau":{"type":"string","description":"Code national de la masse d'eau associé à la station de mesure"},"libelle_masse_eau":{"type":"string","description":"Libellé de la masse d'eau de rattachement de la station de mesure"},"uri_masse_eau":{"type":"string","description":"URI de la masse d'eau"},"code_sous_bassin":{"type":"string","description":"Code européen du sous-bassin DCE administratif"},"libelle_sous_bassin":{"type":"string","description":"Libellé du sous bassin DCE administratif"},"code_bassin":{"type":"string","description":"Code national du bassin DCE"},"code_eu_bassin":{"type":"string"},"code_eu_masse_eau":{"type":"string","description":"Code européen de la masse d'eau associé à la station de mesure"},"commentaire":{"type":"string","description":"Commentaire sur la station de mesure"},"libelle_bassin":{"type":"string","description":"Libellé du bassin DCE"},"nature_station":{"type":"string","description":"Code Sandre de la nature de la station de mesure. Liste sur https://api.sandre.eaufrance.fr/referentiels/v1/nsa/62.json"},"type_entite_hydro":{"type":"string","description":"Code Sandre de la nature d'entité hydrographique associée à la station de mesure. Liste sur https://api.sandre.eaufrance.fr/referentiels/v1/nsa/796.json"},"uri_sous_bassin":{"type":"string"},"uri_bassin":{"type":"string","description":"URI du bassin DCE (régions hydrographiques)"},"pk":{"type":"number","format":"double","description":"Point kilométrique du point caractéristique sur le tronçon de l'entité hydrographique principale"},"altitude":{"type":"number","format":"double","description":"Altitude du point caractéristique de la station de mesure"},"superficie_reelle":{"type":"number","format":"double","description":"Superficie réelle du bassin versant"},"superficie_topo":{"type":"number","format":"double","description":"Superficie topographique du bassin versant"},"date_maj_infos":{"type":"string","format":"date-time","example":"2016-12-01","description":"Date de mise à jour des informations sur la station de mesure"},"date_mise_en_service":{"type":"string","format":"date-time","example":"2016-12-01","description":"Date de mise en service de la station de mesure"},"date_mise_hors_service":{"type":"string","format":"date-time","example":"2016-12-01","description":"Date de mise hors service de la station de mesure"},"geometry":{"description":"Géométrie de la station dans le système de coordonnées WGS84","originalRef":"Point","$ref":"#/definitions/Point"}},"title":"Station","description":"Station"}}}