{"swagger":"2.0","info":{"description":"Adresse de la documentation http://hubeau.eaufrance.fr/page/api-hydrometrie","version":"2.0.1","title":"API Hub'Eau - Hydrométrie","contact":{},"license":{}},"host":"hubeau.eaufrance.fr","basePath":"/","tags":[{"name":"hydrometrie","description":"Opérations sur les niveaux et les débits des cours d'eau en temps réel"}],"paths":{"/api/v2/hydrometrie/obs_elab":{"get":{"tags":["hydrometrie"],"summary":"Lister les observations hydrométriques élaborées","description":"Grandeurs hydrométriques élaborées disponibles : débits moyens journaliers (QmnJ), débits moyens mensuels (QmM), Hauteur instantanée maximale mensuelle (HIXM), Hauteur instantanée maximale journalière (HIXnJ), Débit instantané minimal mensuel (QINM), Débit instantané minimal journalier (QINnJ), Débit instantané maximal mensuel (QixM), Débit instantané maximal journalier (QIXnJ) <br/>Si la valeur du paramètre size n'est pas renseignée, la taille de page par défaut : 1000, taille max de la page : 20000.<br/>La profondeur d'accès aux résultats est : 20000, calcul de la profondeur = numéro de la page * nombre maximum de résultats dans une page.<br/>Trie par défaut : code_station,date_obs_elab asc","operationId":"observationsElaborees","produces":["application/json","application/vnd.geo+json","application/javascript;charset=UTF-8"],"parameters":[{"name":"bbox","in":"query","description":"Rectangle d'emprise de l'objet demandé, emprise au format : min longitude, min latitude, max longitude, max latitude avec les coordonnées en WGS84 (EPSG:4326), le point doit être utilisé comme séparateur décimal, exemple : 1.6194,47.7965,2.1910,47.9988","required":false,"type":"array","items":{"type":"number","format":"double"},"collectionFormat":"multi"},{"name":"code_entite","in":"query","description":"Code Sandre des sites ou stations hydrométriques, si plusieurs codes les séparer par une virgule, nombre maximum de codes = 100. Possibilité d'utiliser un pattern (ex: K*)","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"cursor","in":"query","description":"Curseur de pagination","required":false,"type":"string"},{"name":"date_debut_obs_elab","in":"query","description":"Date de début des observations élaborées","required":false,"type":"string","format":"date-time"},{"name":"date_debut_prod","in":"query","description":"Date de début de plage d'intégration des données dans Hub'eau","required":false,"type":"string","format":"date-time"},{"name":"date_fin_obs_elab","in":"query","description":"Date de fin des observations élaborées","required":false,"type":"string","format":"date-time"},{"name":"date_fin_prod","in":"query","description":"Date de fin de plage d'intégration des données dans Hub'eau","required":false,"type":"string","format":"date-time"},{"name":"distance","in":"query","description":"Rayon de recherche en kilomètre, le point doit être utilisé comme séparateur décimal, exemple : 30","required":false,"type":"number","format":"double"},{"name":"fields","in":"query","description":"Liste des champs souhaités dans la réponse (fonctionnalité expérimentale), par exemple fields=code_station,localisation","required":false,"type":"string"},{"name":"format","in":"query","description":"Format de réponse attendu. Supportés : json, geojson (défaut : json)","required":false,"type":"string","default":"json","enum":["json","geojson"]},{"name":"grandeur_hydro_elab","in":"query","description":"Type de grandeur hydrométrique élaborée (HIXM, HIXnJ, QINM, QINnJ, QixM, QIXnJ, QmM ou  QmnJ )","required":false,"type":"string"},{"name":"latitude","in":"query","description":"Latitude du point en WGS84 pour la recherche par rayon, le point doit être utilisé comme séparateur décimal, exemple : 47.829","required":false,"type":"number","format":"double"},{"name":"longitude","in":"query","description":"Longitude du point en WGS84 pour la recherche par rayon, le point doit être utilisé comme séparateur décimal, exemple : 1.937","required":false,"type":"number","format":"double"},{"name":"resultat_max","in":"query","description":"Valeur maximale du résultat : renvoie tous les résultats dont resultat_obs_elab <= resultat_max","required":false,"type":"number","format":"double"},{"name":"resultat_min","in":"query","description":"Valeur minimale du résultat : renvoie tous les résultats dont resultat_obs_elab >= resultat_min","required":false,"type":"number","format":"double"},{"name":"size","in":"query","description":"Nombre maximum de résultats dans une page","required":false,"type":"integer","default":20,"format":"int32"}],"responses":{"200":{"description":"OK, tous les résultats sont présents dans la réponse","schema":{"originalRef":"Résultat d'une rêquete sur les observations élaborées","$ref":"#/definitions/Résultat d'une rêquete sur les observations élaborées"}},"206":{"description":"OK, il reste des résultats","schema":{"originalRef":"Résultat d'une rêquete sur les observations élaborées","$ref":"#/definitions/Résultat d'une rêquete sur les observations élaborées"}},"400":{"description":"Requête incorrecte"},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"500":{"description":"Erreur interne du serveur"}},"deprecated":false}},"/api/v2/hydrometrie/obs_elab.csv":{"get":{"tags":["hydrometrie"],"summary":"Lister les observations hydrométriques au format CSV","description":"Grandeurs hydrométriques élaborées disponibles : débits moyens journaliers (QmnJ), débits moyens mensuels (QmM), Hauteur instantanée maximale mensuelle (HIXM), Hauteur instantanée maximale journalière (HIXnJ), Débit instantané minimal mensuel (QINM), Débit instantané minimal journalier (QINnJ), Débit instantané maximal mensuel (QixM), Débit instantané maximal journalier (QIXnJ) <br/>Si la valeur du paramètre size n'est pas renseignée, la taille de page par défaut : 1000, taille max de la page : 20000.<br/>La profondeur d'accès aux résultats est : 20000, calcul de la profondeur = numéro de la page * nombre maximum de résultats dans une page.<br/>Trie par défaut : code_station,date_obs_elab asc","operationId":"observationsElaborees csv","produces":["text/csv"],"parameters":[{"name":"bbox","in":"query","description":"Rectangle d'emprise de l'objet demandé, emprise au format : min longitude, min latitude, max longitude, max latitude avec les coordonnées en WGS84 (EPSG:4326), le point doit être utilisé comme séparateur décimal, exemple : 1.6194,47.7965,2.1910,47.9988","required":false,"type":"array","items":{"type":"number","format":"double"},"collectionFormat":"multi"},{"name":"code_entite","in":"query","description":"Code Sandre des sites ou stations hydrométriques, si plusieurs codes les séparer par une virgule, nombre maximum de codes = 100. Possibilité d'utiliser un pattern (ex: K*)","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"cursor","in":"query","description":"Curseur de pagination","required":false,"type":"string"},{"name":"date_debut_obs_elab","in":"query","description":"Date de début des observations élaborées","required":false,"type":"string","format":"date-time"},{"name":"date_debut_prod","in":"query","description":"Date de début de plage d'intégration des données dans Hub'eau","required":false,"type":"string","format":"date-time"},{"name":"date_fin_obs_elab","in":"query","description":"Date de fin des observations élaborées","required":false,"type":"string","format":"date-time"},{"name":"date_fin_prod","in":"query","description":"Date de fin de plage d'intégration des données dans Hub'eau","required":false,"type":"string","format":"date-time"},{"name":"distance","in":"query","description":"Rayon de recherche en kilomètre, le point doit être utilisé comme séparateur décimal, exemple : 30","required":false,"type":"number","format":"double"},{"name":"fields","in":"query","description":"Liste des champs souhaités dans la réponse (fonctionnalité expérimentale), par exemple fields=code_station,localisation","required":false,"type":"string"},{"name":"format","in":"query","required":false,"type":"string"},{"name":"grandeur_hydro_elab","in":"query","description":"Type de grandeur hydrométrique élaborée (HIXM, HIXnJ, QINM, QINnJ, QixM, QIXnJ, QmM ou  QmnJ )","required":false,"type":"string"},{"name":"latitude","in":"query","description":"Latitude du point en WGS84 pour la recherche par rayon, le point doit être utilisé comme séparateur décimal, exemple : 47.829","required":false,"type":"number","format":"double"},{"name":"longitude","in":"query","description":"Longitude du point en WGS84 pour la recherche par rayon, le point doit être utilisé comme séparateur décimal, exemple : 1.937","required":false,"type":"number","format":"double"},{"name":"resultat_max","in":"query","description":"Valeur maximale du résultat : renvoie tous les résultats dont resultat_obs_elab <= resultat_max","required":false,"type":"number","format":"double"},{"name":"resultat_min","in":"query","description":"Valeur minimale du résultat : renvoie tous les résultats dont resultat_obs_elab >= resultat_min","required":false,"type":"number","format":"double"},{"name":"size","in":"query","description":"Nombre maximum de résultats dans une page","required":false,"type":"integer","default":20,"format":"int32"}],"responses":{"200":{"description":"OK, tous les résultats sont présents dans la réponse","schema":{"originalRef":"Observation hydrométrique","$ref":"#/definitions/Observation hydrométrique"}},"206":{"description":"OK, il reste des résultats","schema":{"originalRef":"Observation hydrométrique","$ref":"#/definitions/Observation hydrométrique"}},"400":{"description":"Requête incorrecte","schema":{"originalRef":"Message d'erreur","$ref":"#/definitions/Message d'erreur"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"500":{"description":"Erreur interne du serveur"}},"deprecated":false}},"/api/v2/hydrometrie/observations_tr":{"get":{"tags":["hydrometrie"],"summary":"Lister les observations hydrométriques","description":"Ce service permet de lister les observations dites \"temps réel\" portées par le référentiel (sites et stations hydrométriques), à savoir les séries de données de hauteur d'eau (H) et de débit (Q).<br/>Si la valeur du paramètre size n'est pas renseignée, la taille de page par défaut : 1000, taille max de la page : 20000.<br/>Il n'y a pas de limitation sur la profondeur d'accès aux résultats.<br/>Trie par défaut : date_obs desc","operationId":"observations","produces":["application/json","application/vnd.geo+json","application/javascript;charset=UTF-8"],"parameters":[{"name":"bbox","in":"query","description":"Rectangle d'emprise de l'objet demandé, emprise au format : min longitude, min latitude, max longitude, max latitude avec les coordonnées en WGS84 (EPSG:4326), le point doit être utilisé comme séparateur décimal, exemple : 1.6194,47.7965,2.1910,47.9988","required":false,"type":"array","items":{"type":"number","format":"double"},"collectionFormat":"multi"},{"name":"code_entite","in":"query","description":"Le site hydrométrique est identifié par un code unique au niveau national construit selon la règle suivante : [Code de la zone hydrographique sur 4 caractères sur laquelle est situé le site hydrologique] + [Numéro incrémental sans signification particulière sur 4 caractères]. Par exemple, J4310010 pour un site localisé sur la zone hydrologique J431.Code de la station hydrométrique. Chaque station est identifiée par un code unique pour un site donné. L'identifiant complet de la station hydrométrique est le code du site + le code de la station sur 2 caractères.<br>Possibilité d'utiliser un pattern (ex: K*)","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"code_statut","in":"query","description":"Valeurs possibles : 0 : sans validation, 4 : donnée brute, 8 : donnée corrigée, 12 : donnée pré-validée, 16 : donnée validée","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"cursor","in":"query","description":"Curseur de pagination","required":false,"type":"string"},{"name":"date_debut_obs","in":"query","description":"Date de début observation hydro (exprimée en TU). Ne peut pas être antérieure de plus d'1 mois par rapport à la date actuelle, les formats de date (ISO 8601) supportés : yyyy-MM-dd, yyyy-MM-dd'T'HH:mm:ss, yyyy-MM-dd'T'HH:mm:ssXXX, exemples : 2018-12-01, 2018-12-11T00:00:01, 2018-12-11T00:00:01Z","required":false,"type":"string","format":"date-time"},{"name":"date_fin_obs","in":"query","description":"Date de fin observation hydro (exprimée en TU), les formats de date (ISO 8601) supportés : yyyy-MM-dd, yyyy-MM-dd'T'HH:mm:ss, yyyy-MM-dd'T'HH:mm:ssXXX, exemples : 2018-12-01, 2018-12-11T00:00:01, 2018-12-11T00:00:01Z","required":false,"type":"string","format":"date-time"},{"name":"distance","in":"query","description":"Rayon de recherche en kilomètre, le point doit être utilisé comme séparateur décimal, exemple : 30","required":false,"type":"number","format":"double"},{"name":"fields","in":"query","description":"Liste des champs souhaités dans la réponse (fonctionnalité expérimentale), par exemple fields=code_station,localisation","required":false,"type":"string"},{"name":"format","in":"query","description":"Format de réponse attendu. Supportés : json, geojson (défaut : json)","required":false,"type":"string","default":"json","enum":["json","geojson"]},{"name":"grandeur_hydro","in":"query","description":"Grandeur hydrométrique observée pour la série. 2 valeurs possibles : H, Q. Voir  http://services.sandre.eaufrance.fr/References/1.3.0/jeuDonnees.php?recherche=509&function=getFicheNsa&v=3.1Exemples : grandeur_hydro=Q ou grandeur_hydro=H,Q.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"latitude","in":"query","description":"Latitude du point en WGS84 pour la recherche par rayon, le point doit être utilisé comme séparateur décimal, exemple : 47.829","required":false,"type":"number","format":"double"},{"name":"longitude","in":"query","description":"Longitude du point en WGS84 pour la recherche par rayon, le point doit être utilisé comme séparateur décimal, exemple : 1.937","required":false,"type":"number","format":"double"},{"name":"size","in":"query","description":"Nombre maximum de résultats dans une page","required":false,"type":"integer","default":20,"format":"int32"},{"name":"sort","in":"query","description":"Ordre de tri (asc ou desc) sur la date d'observation (si la valeur n'est pas renseignée, la valeur par défaut est desc)","required":false,"type":"string","default":"desc","enum":["asc","desc"]},{"name":"timestep","in":"query","description":"Pas de temps fixe exprimé en minutes avec des limites (de 10 minutes à 60 minutes), ne fonctionne que pour la recherche sur un seul code entite, le service n'a pas de pagination","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK, tous les résultats sont présents dans la réponse","schema":{"originalRef":"Résultat d'une rêquete sur les observations hydrométriques","$ref":"#/definitions/Résultat d'une rêquete sur les observations hydrométriques"}},"206":{"description":"OK, il reste des résultats","schema":{"originalRef":"Résultat d'une rêquete sur les observations hydrométriques","$ref":"#/definitions/Résultat d'une rêquete sur les observations hydrométriques"}},"400":{"description":"Requête incorrecte","schema":{"originalRef":"Message d'erreur","$ref":"#/definitions/Message d'erreur"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"500":{"description":"Erreur interne du serveur"}},"deprecated":false}},"/api/v2/hydrometrie/observations_tr.csv":{"get":{"tags":["hydrometrie"],"summary":"Lister les observations hydrométriques au format CSV","description":"Ce service permet de lister les observations dites \"temps réel\" portées par le référentiel (sites et stations hydrométriques), à savoir les séries de données de hauteur d'eau (H) et de débit (Q).<br/>Si la valeur du paramètre size n'est pas renseignée, la taille de page par défaut : 1000, taille max de la page : 20000.<br/>Il n'y a pas de limitation sur la profondeur d'accès aux résultats.<br/>Trie par défaut : date_obs desc","operationId":"observations csv","produces":["text/csv"],"parameters":[{"name":"bbox","in":"query","description":"Rectangle d'emprise de l'objet demandé, emprise au format : min longitude, min latitude, max longitude, max latitude avec les coordonnées en WGS84 (EPSG:4326), le point doit être utilisé comme séparateur décimal, exemple : 1.6194,47.7965,2.1910,47.9988","required":false,"type":"array","items":{"type":"number","format":"double"},"collectionFormat":"multi"},{"name":"code_entite","in":"query","description":"Le site hydrométrique est identifié par un code unique au niveau national construit selon la règle suivante : [Code de la zone hydrographique sur 4 caractères sur laquelle est situé le site hydrologique] + [Numéro incrémental sans signification particulière sur 4 caractères]. Par exemple, J4310010 pour un site localisé sur la zone hydrologique J431.Code de la station hydrométrique. Chaque station est identifiée par un code unique pour un site donné. L'identifiant complet de la station hydrométrique est le code du site + le code de la station sur 2 caractères.<br>Possibilité d'utiliser un pattern (ex: K*)","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"code_statut","in":"query","description":"Valeurs possibles : 0 : sans validation, 4 : donnée brute, 8 : donnée corrigée, 12 : donnée pré-validée, 16 : donnée validée","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"cursor","in":"query","description":"Curseur de pagination","required":false,"type":"string"},{"name":"date_debut_obs","in":"query","description":"Date de début observation hydro (exprimée en TU). Ne peut pas être antérieure de plus d'1 mois par rapport à la date actuelle, les formats de date (ISO 8601) supportés : yyyy-MM-dd, yyyy-MM-dd'T'HH:mm:ss, yyyy-MM-dd'T'HH:mm:ssXXX, exemples : 2018-12-01, 2018-12-11T00:00:01, 2018-12-11T00:00:01Z","required":false,"type":"string","format":"date-time"},{"name":"date_fin_obs","in":"query","description":"Date de fin observation hydro (exprimée en TU), les formats de date (ISO 8601) supportés : yyyy-MM-dd, yyyy-MM-dd'T'HH:mm:ss, yyyy-MM-dd'T'HH:mm:ssXXX, exemples : 2018-12-01, 2018-12-11T00:00:01, 2018-12-11T00:00:01Z","required":false,"type":"string","format":"date-time"},{"name":"distance","in":"query","description":"Rayon de recherche en kilomètre, le point doit être utilisé comme séparateur décimal, exemple : 30","required":false,"type":"number","format":"double"},{"name":"fields","in":"query","description":"Liste des champs souhaités dans la réponse (fonctionnalité expérimentale), par exemple fields=code_station,localisation","required":false,"type":"string"},{"name":"format","in":"query","required":false,"type":"string"},{"name":"grandeur_hydro","in":"query","description":"Grandeur hydrométrique observée pour la série. 2 valeurs possibles : H, Q. Voir  http://services.sandre.eaufrance.fr/References/1.3.0/jeuDonnees.php?recherche=509&function=getFicheNsa&v=3.1Exemples : grandeur_hydro=Q ou grandeur_hydro=H,Q.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"latitude","in":"query","description":"Latitude du point en WGS84 pour la recherche par rayon, le point doit être utilisé comme séparateur décimal, exemple : 47.829","required":false,"type":"number","format":"double"},{"name":"longitude","in":"query","description":"Longitude du point en WGS84 pour la recherche par rayon, le point doit être utilisé comme séparateur décimal, exemple : 1.937","required":false,"type":"number","format":"double"},{"name":"size","in":"query","description":"Nombre maximum de résultats dans une page","required":false,"type":"integer","default":20,"format":"int32"},{"name":"sort","in":"query","description":"Ordre de tri (asc ou desc) sur la date d'observation (si la valeur n'est pas renseignée, la valeur par défaut est desc)","required":false,"type":"string","default":"desc","enum":["asc","desc"]},{"name":"timestep","in":"query","description":"Pas de temps fixe exprimé en minutes avec des limites (de 10 minutes à 60 minutes), ne fonctionne que pour la recherche sur un seul code entite, le service n'a pas de pagination","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK, tous les résultats sont présents dans la réponse","schema":{"originalRef":"Observation hydrométrique temps réel","$ref":"#/definitions/Observation hydrométrique temps réel"}},"206":{"description":"OK, il reste des résultats","schema":{"originalRef":"Observation hydrométrique temps réel","$ref":"#/definitions/Observation hydrométrique temps réel"}},"400":{"description":"Requête incorrecte","schema":{"originalRef":"Message d'erreur","$ref":"#/definitions/Message d'erreur"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"500":{"description":"Erreur interne du serveur"}},"deprecated":false}},"/api/v2/hydrometrie/observations_tr.xml":{"get":{"tags":["hydrometrie"],"summary":"Lister les observations hydrométriques au format XML","description":"Ce service permet de lister les observations dites \"temps réel\" portées par le référentiel (sites et stations hydrométriques), à savoir les séries de données de hauteur d'eau (H) et de débit (Q).<br/>Si la valeur du paramètre size n'est pas renseignée, la taille de page par défaut : 1000, taille max de la page : 20000.<br/>Il n'y a pas de limitation sur la profondeur d'accès aux résultats.<br/>Trie par défaut : date_obs desc","operationId":"observations xml","produces":["application/xml"],"parameters":[{"name":"bbox","in":"query","description":"Rectangle d'emprise de l'objet demandé, emprise au format : min longitude, min latitude, max longitude, max latitude avec les coordonnées en WGS84 (EPSG:4326), le point doit être utilisé comme séparateur décimal, exemple : 1.6194,47.7965,2.1910,47.9988","required":false,"type":"array","items":{"type":"number","format":"double"},"collectionFormat":"multi"},{"name":"code_entite","in":"query","description":"Le site hydrométrique est identifié par un code unique au niveau national construit selon la règle suivante : [Code de la zone hydrographique sur 4 caractères sur laquelle est situé le site hydrologique] + [Numéro incrémental sans signification particulière sur 4 caractères]. Par exemple, J4310010 pour un site localisé sur la zone hydrologique J431.Code de la station hydrométrique. Chaque station est identifiée par un code unique pour un site donné. L'identifiant complet de la station hydrométrique est le code du site + le code de la station sur 2 caractères.<br>Possibilité d'utiliser un pattern (ex: K*)","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"code_statut","in":"query","description":"Valeurs possibles : 0 : sans validation, 4 : donnée brute, 8 : donnée corrigée, 12 : donnée pré-validée, 16 : donnée validée","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"cursor","in":"query","description":"Curseur de pagination","required":false,"type":"string"},{"name":"date_debut_obs","in":"query","description":"Date de début observation hydro (exprimée en TU). Ne peut pas être antérieure de plus d'1 mois par rapport à la date actuelle, les formats de date (ISO 8601) supportés : yyyy-MM-dd, yyyy-MM-dd'T'HH:mm:ss, yyyy-MM-dd'T'HH:mm:ssXXX, exemples : 2018-12-01, 2018-12-11T00:00:01, 2018-12-11T00:00:01Z","required":false,"type":"string","format":"date-time"},{"name":"date_fin_obs","in":"query","description":"Date de fin observation hydro (exprimée en TU), les formats de date (ISO 8601) supportés : yyyy-MM-dd, yyyy-MM-dd'T'HH:mm:ss, yyyy-MM-dd'T'HH:mm:ssXXX, exemples : 2018-12-01, 2018-12-11T00:00:01, 2018-12-11T00:00:01Z","required":false,"type":"string","format":"date-time"},{"name":"distance","in":"query","description":"Rayon de recherche en kilomètre, le point doit être utilisé comme séparateur décimal, exemple : 30","required":false,"type":"number","format":"double"},{"name":"fields","in":"query","description":"Liste des champs souhaités dans la réponse (fonctionnalité expérimentale), par exemple fields=code_station,localisation","required":false,"type":"string"},{"name":"format","in":"query","required":false,"type":"string"},{"name":"grandeur_hydro","in":"query","description":"Grandeur hydrométrique observée pour la série. 2 valeurs possibles : H, Q. Voir  http://services.sandre.eaufrance.fr/References/1.3.0/jeuDonnees.php?recherche=509&function=getFicheNsa&v=3.1Exemples : grandeur_hydro=Q ou grandeur_hydro=H,Q.","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"latitude","in":"query","description":"Latitude du point en WGS84 pour la recherche par rayon, le point doit être utilisé comme séparateur décimal, exemple : 47.829","required":false,"type":"number","format":"double"},{"name":"longitude","in":"query","description":"Longitude du point en WGS84 pour la recherche par rayon, le point doit être utilisé comme séparateur décimal, exemple : 1.937","required":false,"type":"number","format":"double"},{"name":"size","in":"query","description":"Nombre maximum de résultats dans une page","required":false,"type":"integer","default":20,"format":"int32"},{"name":"sort","in":"query","description":"Ordre de tri (asc ou desc) sur la date d'observation (si la valeur n'est pas renseignée, la valeur par défaut est desc)","required":false,"type":"string","default":"desc","enum":["asc","desc"]},{"name":"timestep","in":"query","description":"Pas de temps fixe exprimé en minutes avec des limites (de 10 minutes à 60 minutes), ne fonctionne que pour la recherche sur un seul code entite, le service n'a pas de pagination","required":false,"type":"integer","format":"int32"}],"responses":{"200":{"description":"OK, tous les résultats sont présents dans la réponse","schema":{"originalRef":"HydrometrieObservation","$ref":"#/definitions/HydrometrieObservation"}},"206":{"description":"OK, il reste des résultats","schema":{"originalRef":"HydrometrieObservation","$ref":"#/definitions/HydrometrieObservation"}},"400":{"description":"Requête incorrecte","schema":{"originalRef":"ErrorResource","$ref":"#/definitions/ErrorResource"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"500":{"description":"Erreur interne du serveur"}},"deprecated":false}},"/api/v2/hydrometrie/referentiel/sites":{"get":{"tags":["hydrometrie"],"summary":"Lister les sites hydrométriques","description":"Ce service permet d'interroger les sites du référentiel hydrométrique (tronçon de cours d'eau sur lequel les mesures de débit sont réputées homogènes et comparables entre elles). Un site peut posséder une ou plusieurs stations ; il est support de données de débit (Q)<br/>Si la valeur du paramètre size n'est pas renseignée, la taille de page par défaut : 1000, taille max de la page : 10000.<br/>La profondeur d'accès aux résultats est : 20000, calcul de la profondeur = numéro de la page * nombre maximum de résultats dans une page.<br/>Trie par défaut : code_site asc","operationId":"sites","produces":["application/json","application/vnd.geo+json","application/javascript;charset=UTF-8"],"parameters":[{"name":"bbox","in":"query","description":"Rectangle d'emprise de l'objet demandé, emprise au format : min longitude, min latitude, max longitude, max latitude avec les coordonnées en WGS84 (EPSG:4326), le point doit être utilisé comme séparateur décimal, exemple : 1.6194,47.7965,2.1910,47.9988","required":false,"type":"array","items":{"type":"number","format":"double"},"collectionFormat":"multi"},{"name":"code_commune_site","in":"query","description":"Code INSEE de la commune où est implantée la station","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"code_cours_eau","in":"query","description":"Code du cours d'eau","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"code_departement","in":"query","description":"Code du département","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"code_region","in":"query","description":"Code du la région (INSEE)","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"code_site","in":"query","description":"Le site hydrométrique est identifié par un code unique au niveau national construit selon la règle suivante : [Code de la zone hydrographique sur 4 caractères sur laquelle est situé le site hydrologique] + [Numéro incrémental sans signification particulière sur 4 caractères]<br>Possibilité d'utiliser un pattern (ex: K*)","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"code_troncon_hydro_site","in":"query","description":"Code du tronç on hydrographique associé au site","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"code_zone_hydro_site","in":"query","description":"Code de la zone hydrographique associée au site","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"distance","in":"query","description":"Rayon de recherche en kilomètre, le point doit être utilisé comme séparateur décimal, exemple : 30","required":false,"type":"number","format":"double"},{"name":"fields","in":"query","description":"Liste des champs souhaités dans la réponse (fonctionnalité expérimentale), par exemple fields=code_station,localisation","required":false,"type":"string"},{"name":"format","in":"query","description":"Format de réponse attendu. Supportés : json, geojson (défaut : json)","required":false,"type":"string","default":"json","enum":["json","geojson"]},{"name":"latitude","in":"query","description":"Latitude du point en WGS84 pour la recherche par rayon, le point doit être utilisé comme séparateur décimal, exemple : 47.829","required":false,"type":"number","format":"double"},{"name":"libelle_cours_eau","in":"query","description":"Libellé long du cours d'eau","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"libelle_site","in":"query","description":"Chaque site hydrométrique possède un intitulé à des fins d'identification rapide et de reprise dans la plupart des références.<br>Exemples :<br>- La Seine à Paris [Pont d'Austerlitz],<br>- La Doller [totale] à Burnhaubt-le-Haut [Pont d'Aspach].","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"longitude","in":"query","description":"Longitude du point en WGS84 pour la recherche par rayon, le point doit être utilisé comme séparateur décimal, exemple : 1.937","required":false,"type":"number","format":"double"},{"name":"page","in":"query","description":"Numéro de la page","required":false,"type":"integer","format":"int32"},{"name":"size","in":"query","description":"Nombre maximum de résultats dans une page","required":false,"type":"integer","default":20,"format":"int32"}],"responses":{"200":{"description":"OK, tous les résultats sont présents dans la réponse","schema":{"originalRef":"Résultat d'une rêquete sur les sites hydrométriques","$ref":"#/definitions/Résultat d'une rêquete sur les sites hydrométriques"}},"206":{"description":"OK, il reste des résultats","schema":{"originalRef":"Résultat d'une rêquete sur les sites hydrométriques","$ref":"#/definitions/Résultat d'une rêquete sur les sites hydrométriques"}},"400":{"description":"Requête incorrecte","schema":{"originalRef":"Message d'erreur","$ref":"#/definitions/Message d'erreur"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"500":{"description":"Erreur interne du serveur"}},"deprecated":false}},"/api/v2/hydrometrie/referentiel/sites.csv":{"get":{"tags":["hydrometrie"],"summary":"Lister les sites hydrométriques au format CSV","description":"Ce service permet d'interroger les sites du référentiel hydrométrique (tronçon de cours d'eau sur lequel les mesures de débit sont réputées homogènes et comparables entre elles). Un site peut posséder une ou plusieurs stations ; il est support de données de débit (Q)<br/>Si la valeur du paramètre size n'est pas renseignée, la taille de page par défaut : 1000, taille max de la page : 10000.<br/>La profondeur d'accès aux résultats est : 20000, calcul de la profondeur = numéro de la page * nombre maximum de résultats dans une page.<br/>Trie par défaut : code_site asc","operationId":"sites csv","produces":["text/csv"],"parameters":[{"name":"bbox","in":"query","description":"Rectangle d'emprise de l'objet demandé, emprise au format : min longitude, min latitude, max longitude, max latitude avec les coordonnées en WGS84 (EPSG:4326), le point doit être utilisé comme séparateur décimal, exemple : 1.6194,47.7965,2.1910,47.9988","required":false,"type":"array","items":{"type":"number","format":"double"},"collectionFormat":"multi"},{"name":"code_commune_site","in":"query","description":"Code INSEE de la commune où est implantée la station","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"code_cours_eau","in":"query","description":"Code du cours d'eau","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"code_departement","in":"query","description":"Code du département","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"code_region","in":"query","description":"Code du la région (INSEE)","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"code_site","in":"query","description":"Le site hydrométrique est identifié par un code unique au niveau national construit selon la règle suivante : [Code de la zone hydrographique sur 4 caractères sur laquelle est situé le site hydrologique] + [Numéro incrémental sans signification particulière sur 4 caractères]<br>Possibilité d'utiliser un pattern (ex: K*)","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"code_troncon_hydro_site","in":"query","description":"Code du tronç on hydrographique associé au site","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"code_zone_hydro_site","in":"query","description":"Code de la zone hydrographique associée au site","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"distance","in":"query","description":"Rayon de recherche en kilomètre, le point doit être utilisé comme séparateur décimal, exemple : 30","required":false,"type":"number","format":"double"},{"name":"fields","in":"query","description":"Liste des champs souhaités dans la réponse (fonctionnalité expérimentale), par exemple fields=code_station,localisation","required":false,"type":"string"},{"name":"latitude","in":"query","description":"Latitude du point en WGS84 pour la recherche par rayon, le point doit être utilisé comme séparateur décimal, exemple : 47.829","required":false,"type":"number","format":"double"},{"name":"libelle_cours_eau","in":"query","description":"Libellé long du cours d'eau","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"libelle_site","in":"query","description":"Chaque site hydrométrique possède un intitulé à des fins d'identification rapide et de reprise dans la plupart des références.<br>Exemples :<br>- La Seine à Paris [Pont d'Austerlitz],<br>- La Doller [totale] à Burnhaubt-le-Haut [Pont d'Aspach].","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"longitude","in":"query","description":"Longitude du point en WGS84 pour la recherche par rayon, le point doit être utilisé comme séparateur décimal, exemple : 1.937","required":false,"type":"number","format":"double"},{"name":"page","in":"query","description":"Numéro de la page","required":false,"type":"integer","format":"int32"},{"name":"size","in":"query","description":"Nombre maximum de résultats dans une page","required":false,"type":"integer","default":20,"format":"int32"}],"responses":{"200":{"description":"OK, tous les résultats sont présents dans la réponse","schema":{"originalRef":"Site hydrométrique","$ref":"#/definitions/Site hydrométrique"}},"206":{"description":"OK, il reste des résultats","schema":{"originalRef":"Site hydrométrique","$ref":"#/definitions/Site hydrométrique"}},"400":{"description":"Requête incorrecte","schema":{"originalRef":"Message d'erreur","$ref":"#/definitions/Message d'erreur"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"500":{"description":"Erreur interne du serveur"}},"deprecated":false}},"/api/v2/hydrometrie/referentiel/sites.xml":{"get":{"tags":["hydrometrie"],"summary":"Lister les sites hydrométriques au format XML","description":"Ce service permet de lister les observations dites \"temps réel\" portées par le référentiel (sites et stations hydrométriques), à savoir les séries de données de hauteur d'eau (H) et de débit (Q).<br/>Si la valeur du paramètre size n'est pas renseignée, la taille de page par défaut : 1000, taille max de la page : 20000.<br/>Il n'y a pas de limitation sur la profondeur d'accès aux résultats.<br/>Trie par défaut : date_obs desc","operationId":"sites xml","produces":["application/xml"],"parameters":[{"name":"bbox","in":"query","description":"Rectangle d'emprise de l'objet demandé, emprise au format : min longitude, min latitude, max longitude, max latitude avec les coordonnées en WGS84 (EPSG:4326), le point doit être utilisé comme séparateur décimal, exemple : 1.6194,47.7965,2.1910,47.9988","required":false,"type":"array","items":{"type":"number","format":"double"},"collectionFormat":"multi"},{"name":"code_commune_site","in":"query","description":"Code INSEE de la commune où est implantée la station","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"code_cours_eau","in":"query","description":"Code du cours d'eau","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"code_departement","in":"query","description":"Code du département","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"code_region","in":"query","description":"Code du la région (INSEE)","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"code_site","in":"query","description":"Le site hydrométrique est identifié par un code unique au niveau national construit selon la règle suivante : [Code de la zone hydrographique sur 4 caractères sur laquelle est situé le site hydrologique] + [Numéro incrémental sans signification particulière sur 4 caractères]<br>Possibilité d'utiliser un pattern (ex: K*)","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"code_troncon_hydro_site","in":"query","description":"Code du tronç on hydrographique associé au site","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"code_zone_hydro_site","in":"query","description":"Code de la zone hydrographique associée au site","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"distance","in":"query","description":"Rayon de recherche en kilomètre, le point doit être utilisé comme séparateur décimal, exemple : 30","required":false,"type":"number","format":"double"},{"name":"fields","in":"query","description":"Liste des champs souhaités dans la réponse (fonctionnalité expérimentale), par exemple fields=CdSiteHydro,CdZoneHydro","required":false,"type":"string"},{"name":"latitude","in":"query","description":"Latitude du point en WGS84 pour la recherche par rayon, le point doit être utilisé comme séparateur décimal, exemple : 47.829","required":false,"type":"number","format":"double"},{"name":"libelle_cours_eau","in":"query","description":"Libellé long du cours d'eau","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"libelle_site","in":"query","description":"Chaque site hydrométrique possède un intitulé à des fins d'identification rapide et de reprise dans la plupart des références.<br>Exemples :<br>- La Seine à Paris [Pont d'Austerlitz],<br>- La Doller [totale] à Burnhaubt-le-Haut [Pont d'Aspach].","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"longitude","in":"query","description":"Longitude du point en WGS84 pour la recherche par rayon, le point doit être utilisé comme séparateur décimal, exemple : 1.937","required":false,"type":"number","format":"double"},{"name":"page","in":"query","description":"Numéro de la page","required":false,"type":"integer","format":"int32"},{"name":"size","in":"query","description":"Nombre maximum de résultats dans une page","required":false,"type":"integer","default":20,"format":"int32"}],"responses":{"200":{"description":"OK, tous les résultats sont présents dans la réponse","schema":{"originalRef":"HydrometrieSite","$ref":"#/definitions/HydrometrieSite"}},"206":{"description":"OK, il reste des résultats","schema":{"originalRef":"HydrometrieSite","$ref":"#/definitions/HydrometrieSite"}},"400":{"description":"Requête incorrecte","schema":{"originalRef":"ErrorResource","$ref":"#/definitions/ErrorResource"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"500":{"description":"Erreur interne du serveur"}},"deprecated":false}},"/api/v2/hydrometrie/referentiel/stations":{"get":{"tags":["hydrometrie"],"summary":"Lister les stations hydrométriques","description":"Ce service permet d'interroger les stations du référentiel hydrométrique. Une station peut porter des observations de hauteur et/ou de débit (directement mesurés ou calculés à partir d'une courbe de tarage).<br/>Si la valeur du paramètre size n'est pas renseignée, la taille de page par défaut : 1000, taille max de la page : 10000.<br/>La profondeur d'accès aux résultats est : 20000, calcul de la profondeur = numéro de la page * nombre maximum de résultats dans une page.<br/>Trie par défaut : code_station asc","operationId":"stations","produces":["application/json","application/vnd.geo+json","application/javascript;charset=UTF-8"],"parameters":[{"name":"bbox","in":"query","description":"Rectangle d'emprise de l'objet demandé, emprise au format : min longitude, min latitude, max longitude, max latitude avec les coordonnées en WGS84 (EPSG:4326), le point doit être utilisé comme séparateur décimal, exemple : 1.6194,47.7965,2.1910,47.9988","required":false,"type":"array","items":{"type":"number","format":"double"},"collectionFormat":"multi"},{"name":"code_commune_station","in":"query","description":"Code INSEE de la commune où est implantée la station","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"code_cours_eau","in":"query","description":"Code du cours d'eau","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"code_departement","in":"query","description":"Code du département","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"code_region","in":"query","description":"Code du la région (INSEE)","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"code_sandre_reseau_station","in":"query","description":"Code SANDRE du dispositif de collecte (réseau de mesure)","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"code_site","in":"query","description":"Le site hydrométrique est identifié par un code unique au niveau national construit selon la règle suivante : [Code de la zone hydrographique sur 4 caractères sur laquelle est situé le site hydrologique] + [Numéro incrémental sans signification particulière sur 4 caractères]<br>Possibilité d'utiliser un pattern (ex: K*)","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"code_station","in":"query","description":"Code de la station hydrométrique. Chaque station est identifiée par un code unique pour un site donné. L'identifiant complet de la station hydrométrique est le code du site + le code de la station sur 2 caractères.<br>Possibilité d'utiliser un pattern (ex: K*)","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"date_fermeture_station","in":"query","description":"Avant *, les formats de date (ISO 8601) supportés : yyyy-MM-dd, yyyy-MM-dd'T'HH:mm:ss, yyyy-MM-dd'T'HH:mm:ssXXX, exemples : 2018-12-01, 2018-12-11T00:00:01, 2018-12-11T00:00:01Z","required":false,"type":"string","format":"date-time"},{"name":"date_ouverture_station","in":"query","description":"Après *, les formats de date (ISO 8601) supportés : yyyy-MM-dd, yyyy-MM-dd'T'HH:mm:ss, yyyy-MM-dd'T'HH:mm:ssXXX, exemples : 2018-12-01, 2018-12-11T00:00:01, 2018-12-11T00:00:01Z","required":false,"type":"string","format":"date-time"},{"name":"distance","in":"query","description":"Rayon de recherche en kilomètre, le point doit être utilisé comme séparateur décimal, exemple : 30","required":false,"type":"number","format":"double"},{"name":"en_service","in":"query","description":"0 ou 1","required":false,"type":"boolean"},{"name":"fields","in":"query","description":"Liste des champs souhaités dans la réponse (fonctionnalité expérimentale), par exemple fields=code_station,localisation","required":false,"type":"string"},{"name":"format","in":"query","description":"Format de réponse attendu. Supportés : json, geojson (défaut : json)","required":false,"type":"string","default":"json","enum":["json","geojson"]},{"name":"latitude","in":"query","description":"Latitude du point en WGS84 pour la recherche par rayon, le point doit être utilisé comme séparateur décimal, exemple : 47.829","required":false,"type":"number","format":"double"},{"name":"libelle_cours_eau","in":"query","description":"Libellé long du cours d'eau","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"libelle_site","in":"query","description":"Chaque site hydrométrique possède un intitulé à des fins d'identification rapide et de reprise dans la plupart des références. Exemples :<br>- La Seine à Paris [Pont d'Austerlitz],<br>- La Doller [totale] à Burnhaubt-le-Haut [Pont d'Aspach].<br>","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"libelle_station","in":"query","description":"Le libellé de la station est le nom courant attribué à la station au sein du site de mesure","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"longitude","in":"query","description":"Longitude du point en WGS84 pour la recherche par rayon, le point doit être utilisé comme séparateur décimal, exemple : 1.937","required":false,"type":"number","format":"double"},{"name":"page","in":"query","description":"Numéro de la page","required":false,"type":"integer","format":"int32"},{"name":"size","in":"query","description":"Nombre maximum de résultats dans une page","required":false,"type":"integer","default":20,"format":"int32"}],"responses":{"200":{"description":"OK, tous les résultats sont présents dans la réponse","schema":{"originalRef":"Résultat d'une rêquete sur les stations hydrométriques","$ref":"#/definitions/Résultat d'une rêquete sur les stations hydrométriques"}},"206":{"description":"OK, il reste des résultats","schema":{"originalRef":"Résultat d'une rêquete sur les stations hydrométriques","$ref":"#/definitions/Résultat d'une rêquete sur les stations hydrométriques"}},"400":{"description":"Requête incorrecte","schema":{"originalRef":"Message d'erreur","$ref":"#/definitions/Message d'erreur"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"500":{"description":"Erreur interne du serveur"}},"deprecated":false}},"/api/v2/hydrometrie/referentiel/stations.csv":{"get":{"tags":["hydrometrie"],"summary":"Lister les stations hydrométriques au format CSV","description":"Ce service permet d'interroger les stations du référentiel hydrométrique. Une station peut porter des observations de hauteur et/ou de débit (directement mesurés ou calculés à partir d'une courbe de tarage).<br/>Si la valeur du paramètre size n'est pas renseignée, la taille de page par défaut : 1000, taille max de la page : 10000.<br/>La profondeur d'accès aux résultats est : 20000, calcul de la profondeur = numéro de la page * nombre maximum de résultats dans une page.<br/>Trie par défaut : code_station asc","operationId":"stations csv","produces":["text/csv"],"parameters":[{"name":"bbox","in":"query","description":"Rectangle d'emprise de l'objet demandé, emprise au format : min longitude, min latitude, max longitude, max latitude avec les coordonnées en WGS84 (EPSG:4326), le point doit être utilisé comme séparateur décimal, exemple : 1.6194,47.7965,2.1910,47.9988","required":false,"type":"array","items":{"type":"number","format":"double"},"collectionFormat":"multi"},{"name":"code_commune_station","in":"query","description":"Code INSEE de la commune où est implantée la station","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"code_cours_eau","in":"query","description":"Code du cours d'eau","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"code_departement","in":"query","description":"Code du département","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"code_region","in":"query","description":"Code du la région (INSEE)","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"code_sandre_reseau_station","in":"query","description":"Code SANDRE du dispositif de collecte (réseau de mesure)","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"code_site","in":"query","description":"Le site hydrométrique est identifié par un code unique au niveau national construit selon la règle suivante : [Code de la zone hydrographique sur 4 caractères sur laquelle est situé le site hydrologique] + [Numéro incrémental sans signification particulière sur 4 caractères]<br>Possibilité d'utiliser un pattern (ex: K*)","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"code_station","in":"query","description":"Code de la station hydrométrique. Chaque station est identifiée par un code unique pour un site donné. L'identifiant complet de la station hydrométrique est le code du site + le code de la station sur 2 caractères.<br>Possibilité d'utiliser un pattern (ex: K*)","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"date_fermeture_station","in":"query","description":"Avant *, les formats de date (ISO 8601) supportés : yyyy-MM-dd, yyyy-MM-dd'T'HH:mm:ss, yyyy-MM-dd'T'HH:mm:ssXXX, exemples : 2018-12-01, 2018-12-11T00:00:01, 2018-12-11T00:00:01Z","required":false,"type":"string","format":"date-time"},{"name":"date_ouverture_station","in":"query","description":"Après *, les formats de date (ISO 8601) supportés : yyyy-MM-dd, yyyy-MM-dd'T'HH:mm:ss, yyyy-MM-dd'T'HH:mm:ssXXX, exemples : 2018-12-01, 2018-12-11T00:00:01, 2018-12-11T00:00:01Z","required":false,"type":"string","format":"date-time"},{"name":"distance","in":"query","description":"Rayon de recherche en kilomètre, le point doit être utilisé comme séparateur décimal, exemple : 30","required":false,"type":"number","format":"double"},{"name":"en_service","in":"query","description":"0 ou 1","required":false,"type":"boolean"},{"name":"fields","in":"query","description":"Liste des champs souhaités dans la réponse (fonctionnalité expérimentale), par exemple fields=code_station,localisation","required":false,"type":"string"},{"name":"latitude","in":"query","description":"Latitude du point en WGS84 pour la recherche par rayon, le point doit être utilisé comme séparateur décimal, exemple : 47.829","required":false,"type":"number","format":"double"},{"name":"libelle_cours_eau","in":"query","description":"Libellé long du cours d'eau","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"libelle_site","in":"query","description":"Chaque site hydrométrique possède un intitulé à des fins d'identification rapide et de reprise dans la plupart des références. Exemples :<br>- La Seine à Paris [Pont d'Austerlitz],<br>- La Doller [totale] à Burnhaubt-le-Haut [Pont d'Aspach].<br>","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"libelle_station","in":"query","description":"Le libellé de la station est le nom courant attribué à la station au sein du site de mesure","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"longitude","in":"query","description":"Longitude du point en WGS84 pour la recherche par rayon, le point doit être utilisé comme séparateur décimal, exemple : 1.937","required":false,"type":"number","format":"double"},{"name":"page","in":"query","description":"Numéro de la page","required":false,"type":"integer","format":"int32"},{"name":"size","in":"query","description":"Nombre maximum de résultats dans une page","required":false,"type":"integer","default":20,"format":"int32"}],"responses":{"200":{"description":"OK, tous les résultats sont présents dans la réponse","schema":{"originalRef":"Station hydrométrique","$ref":"#/definitions/Station hydrométrique"}},"206":{"description":"OK, il reste des résultats","schema":{"originalRef":"Station hydrométrique","$ref":"#/definitions/Station hydrométrique"}},"400":{"description":"Requête incorrecte","schema":{"originalRef":"Message d'erreur","$ref":"#/definitions/Message d'erreur"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"500":{"description":"Erreur interne du serveur"}},"deprecated":false}},"/api/v2/hydrometrie/referentiel/stations.xml":{"get":{"tags":["hydrometrie"],"summary":"Lister les stations hydrométriques au format XML","description":"Ce service permet d'interroger les stations du référentiel hydrométrique. Une station peut porter des observations de hauteur et/ou de débit (directement mesurés ou calculés à partir d'une courbe de tarage).<br/>Si la valeur du paramètre size n'est pas renseignée, la taille de page par défaut : 1000, taille max de la page : 10000.<br/>La profondeur d'accès aux résultats est : 20000, calcul de la profondeur = numéro de la page * nombre maximum de résultats dans une page.<br/>Trie par défaut : code_station asc","operationId":"stations xml","produces":["application/xml"],"parameters":[{"name":"bbox","in":"query","description":"Rectangle d'emprise de l'objet demandé, emprise au format : min longitude, min latitude, max longitude, max latitude avec les coordonnées en WGS84 (EPSG:4326), le point doit être utilisé comme séparateur décimal, exemple : 1.6194,47.7965,2.1910,47.9988","required":false,"type":"array","items":{"type":"number","format":"double"},"collectionFormat":"multi"},{"name":"code_commune_station","in":"query","description":"Code INSEE de la commune où est implantée la station","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"code_cours_eau","in":"query","description":"Code du cours d'eau","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"code_departement","in":"query","description":"Code du département","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"code_region","in":"query","description":"Code du la région (INSEE)","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"code_sandre_reseau_station","in":"query","description":"Code SANDRE du dispositif de collecte (réseau de mesure)","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"code_site","in":"query","description":"Le site hydrométrique est identifié par un code unique au niveau national construit selon la règle suivante : [Code de la zone hydrographique sur 4 caractères sur laquelle est situé le site hydrologique] + [Numéro incrémental sans signification particulière sur 4 caractères]<br>Possibilité d'utiliser un pattern (ex: K*)","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"code_station","in":"query","description":"Code de la station hydrométrique. Chaque station est identifiée par un code unique pour un site donné. L'identifiant complet de la station hydrométrique est le code du site + le code de la station sur 2 caractères.<br>Possibilité d'utiliser un pattern (ex: K*)","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"date_fermeture_station","in":"query","description":"Avant *, les formats de date (ISO 8601) supportés : yyyy-MM-dd, yyyy-MM-dd'T'HH:mm:ss, yyyy-MM-dd'T'HH:mm:ssXXX, exemples : 2018-12-01, 2018-12-11T00:00:01, 2018-12-11T00:00:01Z","required":false,"type":"string","format":"date-time"},{"name":"date_ouverture_station","in":"query","description":"Après *, les formats de date (ISO 8601) supportés : yyyy-MM-dd, yyyy-MM-dd'T'HH:mm:ss, yyyy-MM-dd'T'HH:mm:ssXXX, exemples : 2018-12-01, 2018-12-11T00:00:01, 2018-12-11T00:00:01Z","required":false,"type":"string","format":"date-time"},{"name":"distance","in":"query","description":"Rayon de recherche en kilomètre, le point doit être utilisé comme séparateur décimal, exemple : 30","required":false,"type":"number","format":"double"},{"name":"en_service","in":"query","description":"0 ou 1","required":false,"type":"boolean"},{"name":"fields","in":"query","description":"Liste des champs souhaités dans la réponse (fonctionnalité expérimentale), par exemple fields=CdSiteHydro,CdStationHydro","required":false,"type":"string"},{"name":"latitude","in":"query","description":"Latitude du point en WGS84 pour la recherche par rayon, le point doit être utilisé comme séparateur décimal, exemple : 47.829","required":false,"type":"number","format":"double"},{"name":"libelle_cours_eau","in":"query","description":"Libellé long du cours d'eau","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"libelle_site","in":"query","description":"Chaque site hydrométrique possède un intitulé à des fins d'identification rapide et de reprise dans la plupart des références. Exemples :<br>- La Seine à Paris [Pont d'Austerlitz],<br>- La Doller [totale] à Burnhaubt-le-Haut [Pont d'Aspach].<br>","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"libelle_station","in":"query","description":"Le libellé de la station est le nom courant attribué à la station au sein du site de mesure","required":false,"type":"array","items":{"type":"string"},"collectionFormat":"multi"},{"name":"longitude","in":"query","description":"Longitude du point en WGS84 pour la recherche par rayon, le point doit être utilisé comme séparateur décimal, exemple : 1.937","required":false,"type":"number","format":"double"},{"name":"page","in":"query","description":"Numéro de la page","required":false,"type":"integer","format":"int32"},{"name":"size","in":"query","description":"Nombre maximum de résultats dans une page","required":false,"type":"integer","default":20,"format":"int32"}],"responses":{"200":{"description":"OK, tous les résultats sont présents dans la réponse","schema":{"originalRef":"HydrometrieStation","$ref":"#/definitions/HydrometrieStation"}},"206":{"description":"OK, il reste des résultats","schema":{"originalRef":"HydrometrieStation","$ref":"#/definitions/HydrometrieStation"}},"400":{"description":"Requête incorrecte","schema":{"originalRef":"ErrorResource","$ref":"#/definitions/ErrorResource"}},"401":{"description":"Unauthorized"},"403":{"description":"Forbidden"},"404":{"description":"Not Found"},"500":{"description":"Erreur interne du serveur"}},"deprecated":false}}},"definitions":{"AltiSiteHydro":{"type":"object","properties":{"altitudeSiteHydro":{"type":"number","format":"double","description":"Altitude du site hydrométrique"},"sysAltimetriqueSiteHydro":{"type":"integer","format":"int32","description":"Système de référence altimétrique du site hydrométrique. Compris entre 0 et 31 http://www.sandre.eaufrance.fr/squelettes/consulter_fiche_attribut.php?attribut=SysAltiSerie&dictionnaire=/db/sandre/Schemas/ohy/2/sandre_fmt_xml_ohy.xsd ou http://services.sandre.eaufrance.fr/References/1.3.0/jeuDonnees.php?recherche=76&function=getFicheNsa&v=3.1 ou http://id.eaufrance.fr/nsa/76"}},"title":"AltiSiteHydro"},"CdIntervenant":{"type":"object","properties":{"cdIntervenant":{"type":"string"},"schemeAgencyID":{"type":"string"}},"title":"CdIntervenant"},"Commune":{"type":"object","properties":{"cdCommune":{"type":"string","description":"Type de projection du site hydrométrique. Compris entre 0 et 64 http://www.sandre.eaufrance.fr/squelettes/consulter_fiche_attribut.php?attribut=ProjCoordSiteHydro&dictionnaire=/db/sandre/Schemas/hyd/2.1/sandre_fmt_xml_hyd.xsd ou http://services.sandre.eaufrance.fr/References/1.3.0/jeuDonnees.php?recherche=22&function=getFicheNsa&v=3.1 ou http://id.eaufrance.fr/nsa/22"}},"title":"Commune"},"Communes":{"type":"object","properties":{"commune":{"type":"array","description":"Type de projection du site hydrométrique. Compris entre 0 et 64 http://www.sandre.eaufrance.fr/squelettes/consulter_fiche_attribut.php?attribut=ProjCoordSiteHydro&dictionnaire=/db/sandre/Schemas/hyd/2.1/sandre_fmt_xml_hyd.xsd ou http://services.sandre.eaufrance.fr/References/1.3.0/jeuDonnees.php?recherche=22&function=getFicheNsa&v=3.1 ou http://id.eaufrance.fr/nsa/22","items":{"originalRef":"Commune","$ref":"#/definitions/Commune"}}},"title":"Communes"},"CoordSiteHydro":{"type":"object","properties":{"coordXSiteHydro":{"type":"number","format":"double","description":"Coordonnée X principale du site hydrométrique"},"coordYSiteHydro":{"type":"number","format":"double","description":"Coordonnée Y principale du site hydrométrique"},"projCoordSiteHydro":{"type":"integer","format":"int32","description":"Type de projection du site hydrométrique. Compris entre 0 et 64 http://www.sandre.eaufrance.fr/squelettes/consulter_fiche_attribut.php?attribut=ProjCoordSiteHydro&dictionnaire=/db/sandre/Schemas/hyd/2.1/sandre_fmt_xml_hyd.xsd ou http://services.sandre.eaufrance.fr/References/1.3.0/jeuDonnees.php?recherche=22&function=getFicheNsa&v=3.1 ou http://id.eaufrance.fr/nsa/22"}},"title":"CoordSiteHydro"},"CoordStationHydro":{"type":"object","properties":{"coordXStationHydro":{"type":"number","format":"double","description":"Coordonnée X de la station hydrométrique"},"coordYStationHydro":{"type":"number","format":"double","description":"Coordonnée Y de la station hydrométrique"},"projCoordStationHydro":{"type":"integer","format":"int32","description":"Type de projection de la station hydrométrique. Voir ProjCoordSiteHydro"}},"title":"CoordStationHydro"},"Crs":{"type":"object","properties":{"properties":{"type":"object"},"type":{"type":"string","enum":["name","link"]}},"title":"Crs"},"Destinataire":{"type":"object","properties":{"cdIntervenant":{"originalRef":"CdIntervenant","$ref":"#/definitions/CdIntervenant"}},"title":"Destinataire"},"Donnees":{"type":"object","properties":{"series":{"originalRef":"Series","$ref":"#/definitions/Series"}},"title":"Donnees"},"Emetteur":{"type":"object","properties":{"cdIntervenant":{"originalRef":"CdIntervenant","$ref":"#/definitions/CdIntervenant"}},"title":"Emetteur"},"EntiteHydrographique":{"type":"object","properties":{"cdEntiteHydrographique":{"type":"string","description":"Type de projection du site hydrométrique. Compris entre 0 et 64 http://www.sandre.eaufrance.fr/squelettes/consulter_fiche_attribut.php?attribut=ProjCoordSiteHydro&dictionnaire=/db/sandre/Schemas/hyd/2.1/sandre_fmt_xml_hyd.xsd ou http://services.sandre.eaufrance.fr/References/1.3.0/jeuDonnees.php?recherche=22&function=getFicheNsa&v=3.1 ou http://id.eaufrance.fr/nsa/22"}},"title":"EntiteHydrographique"},"Erreur":{"type":"object","properties":{"code":{"type":"string","description":"Code de l'erreur"},"message":{"type":"string","description":"Message en rapport avec l'erreur sur le paramètre"},"field":{"type":"string","description":"Le nom du paramètre avec l'erreur"}},"title":"Erreur","description":"Erreur"},"ErrorResource":{"type":"object","properties":{"code":{"type":"integer","format":"int32","xml":{"name":"code","attribute":false,"wrapped":false}},"fieldErrors":{"type":"array","xml":{"name":"fieldErrors","attribute":false,"wrapped":false},"items":{"originalRef":"Erreur","$ref":"#/definitions/Erreur"}},"message":{"type":"string","xml":{"name":"message","attribute":false,"wrapped":false}}},"title":"ErrorResource"},"Feature":{"type":"object","properties":{"bbox":{"type":"array","items":{"type":"number","format":"double"}},"crs":{"originalRef":"Crs","$ref":"#/definitions/Crs"},"geometry":{"originalRef":"GeoJsonObject","$ref":"#/definitions/GeoJsonObject"},"id":{"type":"string"},"properties":{"type":"object"}},"title":"Feature"},"FeatureCollection":{"type":"object","properties":{"bbox":{"type":"array","items":{"type":"number","format":"double"}},"crs":{"originalRef":"Crs","$ref":"#/definitions/Crs"},"features":{"type":"array","items":{"originalRef":"Feature","$ref":"#/definitions/Feature"}}},"title":"FeatureCollection"},"FinaliteStationHydro":{"type":"object","properties":{"cdFinaliteStationHydro":{"type":"string","description":"Code de la finalité de la station hydrométrique : la station hydrométrique répond à une ou plusieurs finalités en lien avec l'hydrologie. Compris entre 0 et 8. Voir http://www.sandre.eaufrance.fr/squelettes/consulter_fiche_attribut.php?attribut=CdFinaliteStationHydro&dictionnaire=/db/sandre/Schemas/hyd/2.1/sandre_fmt_xml_hyd.xsd ou http://services.sandre.eaufrance.fr/References/1.3.0/jeuDonnees.php?recherche=522&function=getFicheNsa&v=3.1"}},"title":"FinaliteStationHydro"},"FinalitesStationHydro":{"type":"object","properties":{"finaliteStationHydro":{"type":"array","description":"Code de la finalité de la station hydrométrique : la station hydrométrique répond à une ou plusieurs finalités en lien avec l'hydrologie. Compris entre 0 et 8. Voir http://www.sandre.eaufrance.fr/squelettes/consulter_fiche_attribut.php?attribut=CdFinaliteStationHydro&dictionnaire=/db/sandre/Schemas/hyd/2.1/sandre_fmt_xml_hyd.xsd ou http://services.sandre.eaufrance.fr/References/1.3.0/jeuDonnees.php?recherche=522&function=getFicheNsa&v=3.1","items":{"originalRef":"FinaliteStationHydro","$ref":"#/definitions/FinaliteStationHydro"}}},"title":"FinalitesStationHydro"},"GeometryCollection":{"type":"object","properties":{"bbox":{"type":"array","items":{"type":"number","format":"double"}},"crs":{"originalRef":"Crs","$ref":"#/definitions/Crs"},"geometries":{"type":"array","items":{"originalRef":"GeoJsonObject","$ref":"#/definitions/GeoJsonObject"}}},"title":"GeometryCollection"},"HydrometrieObservation":{"type":"object","properties":{"donnees":{"originalRef":"Donnees","$ref":"#/definitions/Donnees"},"scenario":{"originalRef":"Scenario","$ref":"#/definitions/Scenario"}},"title":"HydrometrieObservation"},"HydrometrieSite":{"type":"object","properties":{"refHyd":{"originalRef":"RefHyd","$ref":"#/definitions/RefHyd"},"scenario":{"originalRef":"Scenario","$ref":"#/definitions/Scenario"}},"title":"HydrometrieSite"},"HydrometrieStation":{"type":"object","properties":{"refHyd":{"originalRef":"RefHyd","$ref":"#/definitions/RefHyd"},"scenario":{"originalRef":"Scenario","$ref":"#/definitions/Scenario"}},"title":"HydrometrieStation"},"LineString":{"type":"object","properties":{"bbox":{"type":"array","items":{"type":"number","format":"double"}},"coordinates":{"type":"array","items":{"originalRef":"LngLatAlt","$ref":"#/definitions/LngLatAlt"}},"crs":{"originalRef":"Crs","$ref":"#/definitions/Crs"}},"title":"LineString"},"LngLatAlt":{"type":"object","properties":{"additionalElements":{"type":"array","items":{"type":"number","format":"double"}},"altitude":{"type":"number","format":"double"},"latitude":{"type":"number","format":"double"},"longitude":{"type":"number","format":"double"}},"title":"LngLatAlt"},"LoiStatContexteSiteHydro":{"type":"object","properties":{"typContexteLoiStat":{"type":"integer","format":"int32","description":"Contexte du site pour le choix de la loi statistique : 1-Module, 2-Crue, 3-Etiage. http://www.sandre.eaufrance.fr/squelettes/consulter_fiche_attribut.php?attribut=TypContexteLoiStat&dictionnaire=/db/sandre/Schemas/hyd/2.1/sandre_fmt_xml_hyd.xsd ou http://services.sandre.eaufrance.fr/References/1.3.0/jeuDonnees.php?recherche=521&function=getFicheNsa&v=3.1"},"typLoiSiteHydro":{"type":"integer","format":"int32","description":"Type de la loi statistique dans le contexte : 0-Inconnu, 1-Galton, 2-Gauss, 3-Gumbel. http://www.sandre.eaufrance.fr/squelettes/consulter_fiche_attribut.php?attribut=TypLoiSiteHydro&dictionnaire=/db/sandre/Schemas/hyd/2.1/sandre_fmt_xml_hyd.xsd ou http://services.sandre.eaufrance.fr/References/1.3.0/jeuDonnees.php?recherche=114&function=getFicheNsa&v=3.1"}},"title":"LoiStatContexteSiteHydro"},"LoiStatContexteStationHydro":{"type":"object","properties":{"typContexteLoiStat":{"type":"integer","format":"int32","description":"Contexte de la station pour le choix de la loi statistique : 1-Module, 2-Crue, 3-Etiage. Même référentiel que pour les sites"},"typLoiStationHydro":{"type":"integer","format":"int32","description":"Type de la loi statistique dans le contexte : 0-Inconnu, 1-Galton, 2-Gauss, 3-Gumbel. Même référentiel que pour les sites"}},"title":"LoiStatContexteStationHydro"},"LoisStatContexteSiteHydro":{"type":"object","properties":{"loiStatContexteSiteHydro":{"type":"array","items":{"originalRef":"LoiStatContexteSiteHydro","$ref":"#/definitions/LoiStatContexteSiteHydro"}}},"title":"LoisStatContexteSiteHydro"},"LoisStatContexteStationHydro":{"type":"object","properties":{"loiStatContexteStationHydro":{"type":"array","items":{"originalRef":"LoiStatContexteStationHydro","$ref":"#/definitions/LoiStatContexteStationHydro"}}},"title":"LoisStatContexteStationHydro"},"Message d'erreur":{"type":"object","properties":{"code":{"type":"string","description":"Code de l'erreur"},"message":{"type":"string","description":"Message en rapport avec l'erreur"},"field_errors":{"type":"array","description":"Liste des paramètres avec des erreurs","items":{"originalRef":"Erreur","$ref":"#/definitions/Erreur"}}},"title":"Message d'erreur","description":"Message d'erreur"},"MultiLineString":{"type":"object","properties":{"bbox":{"type":"array","items":{"type":"number","format":"double"}},"coordinates":{"type":"array","items":{"type":"array","items":{"originalRef":"LngLatAlt","$ref":"#/definitions/LngLatAlt"}}},"crs":{"originalRef":"Crs","$ref":"#/definitions/Crs"}},"title":"MultiLineString"},"MultiPoint":{"type":"object","properties":{"bbox":{"type":"array","items":{"type":"number","format":"double"}},"coordinates":{"type":"array","items":{"originalRef":"LngLatAlt","$ref":"#/definitions/LngLatAlt"}},"crs":{"originalRef":"Crs","$ref":"#/definitions/Crs"}},"title":"MultiPoint"},"MultiPolygon":{"type":"object","properties":{"bbox":{"type":"array","items":{"type":"number","format":"double"}},"coordinates":{"type":"array","items":{"type":"array","items":{"type":"array","items":{"originalRef":"LngLatAlt","$ref":"#/definitions/LngLatAlt"}}}},"crs":{"originalRef":"Crs","$ref":"#/definitions/Crs"}},"title":"MultiPolygon"},"ObsHydro":{"type":"object","properties":{"contObsHydro":{"type":"integer","format":"int32","description":"Continuité de la donnée de l'observation hydro : indique si la donnée hydro est jugée continue vis-à-vis de la précédente, d'un point de vue temporel."},"dtObsHydro":{"type":"string","description":"Date d'observation hydro : date, exprimée en TU, d'occurence de la donnée."},"methObsHydro":{"type":"integer","format":"int32","description":"Méthode d'obtention du résultat de l'observation hydro. 3 valeurs possibles : 0, 4, 12 (Mesure, Reconstitution, Interpolation). Voir http://services.sandre.eaufrance.fr/References/1.3.0/jeuDonnees.php?recherche=507&function=getFicheNsa&v=3.1"},"qualifObsHydro":{"type":"integer","format":"int32","description":"Qualification de la donnée d'observation hydrométrique. 7 valeurs possibles : 0, 4, 8, 12, 16, 20, 30 (Neutre, Faible, Forte, Douteuse, Non qualifiée, Bonne, Estimée). Voir http://services.sandre.eaufrance.fr/References/1.3.0/jeuDonnees.php?recherche=515&function=getFicheNsa&v=3.1"},"resObsHydro":{"type":"number","format":"double","description":"Résultat de l'observation hydro : valeur de la mesure hydrométrique"},"stObsHydro":{"type":"integer","format":"int32","description":"Statut de la série : niveau de validité de la donnée. Valeurs possibles : 0, 4, 8, 12, 16 (sans validation, brut, corrigé, pré-validé, validé). Voir  http://services.sandre.eaufrance.fr/References/1.3.0/jeuDonnees.php?recherche=510&function=getFicheNsa&v=3.1"}},"title":"ObsHydro"},"Observation hydrométrique":{"type":"object","properties":{"code_site":{"type":"string","description":"Le site hydrométrique est identifié par un code unique au niveau national construit selon la règle suivante : [Code de la zone hydrographique sur 4 caractères sur laquelle est situé le site hydrologique] + [Numéro incrémental sans signification particulière sur 4 caractères]. Par exemple, J4310010 pour un site localisé sur la zone hydrologique J431."},"code_station":{"type":"string","description":"Code de la station hydrométrique. Chaque station est identifiée par un code unique pour un site donné. L'identifiant complet de la station hydrométrique est le code du site + le code de la station sur 2 caractères."},"grandeur_hydro_elab":{"type":"string","description":"${doc.modele.observationElaboree.grandeur-hydro-elab}"},"date_obs_elab":{"type":"string","format":"date-time","description":"Date de début de la série. Cette date doit être antérieure ou égale à la date de la première observation de la série."},"resultat_obs_elab":{"type":"number","format":"double","description":"Résultat de l'observation hydro : valeur de la mesure hydrométrique"},"date_prod":{"type":"string","format":"date-time","description":"Date à laquelle l'observation à été intégrée par Hub'eau"},"code_statut":{"type":"integer","format":"int32","description":"${doc.modele.observationElaboree.code_statut}"},"libelle_statut":{"type":"string","description":"${doc.modele.observationElaboree.libelle_statut}"},"code_methode":{"type":"integer","format":"int32","description":"${doc.modele.observationElaboree.code_methode}"},"libelle_methode":{"type":"string","description":"${doc.modele.observationElaboree.libelle_methode}"},"code_qualification":{"type":"integer","format":"int32","description":"${doc.modele.observationElaboree.code_qualification}"},"libelle_qualification":{"type":"string","description":"${doc.modele.observationElaboree.libelle_qualification}"},"longitude":{"type":"number","format":"double","description":"Longitude du point en WGS84 pour la recherche par rayon, le point doit être utilisé comme séparateur décimal, exemple : 1.937"},"latitude":{"type":"number","format":"double","description":"Latitude du point en WGS84 pour la recherche par rayon, le point doit être utilisé comme séparateur décimal, exemple : 47.829"}},"title":"Observation hydrométrique","description":"Observation hydrométrique"},"Observation hydrométrique temps réel":{"type":"object","properties":{"code_site":{"type":"string","description":"Le site hydrométrique est identifié par un code unique au niveau national construit selon la règle suivante : [Code de la zone hydrographique sur 4 caractères sur laquelle est situé le site hydrologique] + [Numéro incrémental sans signification particulière sur 4 caractères]. Par exemple, J4310010 pour un site localisé sur la zone hydrologique J431."},"code_station":{"type":"string","description":"Code de la station hydrométrique. Chaque station est identifiée par un code unique pour un site donné. L'identifiant complet de la station hydrométrique est le code du site + le code de la station sur 2 caractères."},"grandeur_hydro":{"type":"string","description":"Grandeur hydrométrique observée pour la série. 2 valeurs possibles : H, Q. Voir http://services.sandre.eaufrance.fr/References/1.3.0/jeuDonnees.php?recherche=509&function=getFicheNsa&v=3.1"},"date_debut_serie":{"type":"string","format":"date-time","description":"Date de début de la série. Cette date doit être antérieure ou égale à la date de la première observation de la série."},"date_fin_serie":{"type":"string","format":"date-time","description":"Date de fin de la série. Cette date doit être supérieure ou égale à la date de la dernière observation."},"code_statut":{"type":"integer","format":"int32","description":"${doc.modele.observation.code_statut}"},"libelle_statut":{"type":"string","description":"${doc.modele.observation.libelle_statut}"},"code_systeme_alti_serie":{"type":"integer","format":"int32","description":"Système de référence altimétrique de la serie (utile dans le cas d'une série comportant des hauteurs). Compris entre 0 et 31. Voir  http://services.sandre.eaufrance.fr/References/1.3.0/jeuDonnees.php?recherche=76&function=getFicheNsa&v=3.1 ou http://id.eaufrance.fr/nsa/76"},"date_obs":{"type":"string","format":"date-time","description":"Date d'observation hydro : date, exprimée en TU, d'occurence de la donnée."},"resultat_obs":{"type":"number","format":"double","description":"Résultat de l'observation hydro : valeur de la mesure hydrométrique"},"code_methode_obs":{"type":"integer","format":"int32","description":"Méthode d'obtention du résultat de l'observation hydro. 3 valeurs possibles : 0, 4, 12 (Mesure, Reconstitution, Interpolation). Voir http://services.sandre.eaufrance.fr/References/1.3.0/jeuDonnees.php?recherche=507&function=getFicheNsa&v=3.1"},"libelle_methode_obs":{"type":"string","description":"todo"},"code_qualification_obs":{"type":"integer","format":"int32","description":"Qualification de la donnée d'observation hydrométrique. 7 valeurs possibles : 0, 4, 8, 12, 16, 20, 30 (Neutre, Faible, Forte, Douteuse, Non qualifiée, Bonne, Estimée). Voir http://services.sandre.eaufrance.fr/References/1.3.0/jeuDonnees.php?recherche=515&function=getFicheNsa&v=3.1"},"libelle_qualification_obs":{"type":"string","description":"todo"},"code_continuite":{"type":"integer","format":"int32","description":"${doc.modele.observation.code_continuite}"},"libelle_continuite":{"type":"string","description":"${doc.modele.observation.libelle_continuite}"},"longitude":{"type":"number","format":"double","description":"Longitude du point en WGS84 pour la recherche par rayon, le point doit être utilisé comme séparateur décimal, exemple : 1.937"},"latitude":{"type":"number","format":"double","description":"Latitude du point en WGS84 pour la recherche par rayon, le point doit être utilisé comme séparateur décimal, exemple : 47.829"}},"title":"Observation hydrométrique temps réel","description":"Observation hydrométrique temps réel"},"ObssHydro":{"type":"object","properties":{"obsHydro":{"type":"array","items":{"originalRef":"ObsHydro","$ref":"#/definitions/ObsHydro"}}},"title":"ObssHydro"},"Point":{"type":"object","properties":{"bbox":{"type":"array","items":{"type":"number","format":"double"}},"coordinates":{"originalRef":"LngLatAlt","$ref":"#/definitions/LngLatAlt"},"crs":{"originalRef":"Crs","$ref":"#/definitions/Crs"}},"title":"Point"},"Polygon":{"type":"object","properties":{"bbox":{"type":"array","items":{"type":"number","format":"double"}},"coordinates":{"type":"array","items":{"type":"array","items":{"originalRef":"LngLatAlt","$ref":"#/definitions/LngLatAlt"}}},"crs":{"originalRef":"Crs","$ref":"#/definitions/Crs"}},"title":"Polygon"},"QualifDonneesStationHydro":{"type":"object","properties":{"cdRegime":{"type":"integer","format":"int32","description":"Code du régime, compris entre 1 et 3. Information décrivant la qualité générale des données. Cet attribut précise si la qualification des données porte sur les informations en basses eaux, moyenne eaux et/ou hautes eaux. Voir http://www.sandre.eaufrance.fr/squelettes/consulter_fiche_attribut.php?attribut=CdRegime&dictionnaire=/db/sandre/Schemas/hyd/2.1/sandre_fmt_xml_hyd.xsd ou http://services.sandre.eaufrance.fr/References/1.3.0/jeuDonnees.php?recherche=526&function=getFicheNsa&v=3.1"},"qualifDonStationHydro":{"type":"integer","format":"int32","description":"Qualification des données de la station hydrométrique : détermine la qualité des données de la station hydro selon le régime. 3 valeurs possibles : 12, 16 ou 20 (incertain, non qualifié, bon). Voir http://www.sandre.eaufrance.fr/squelettes/consulter_fiche_attribut.php?attribut=QualifDonStationHydro&dictionnaire=/db/sandre/Schemas/hyd/2.1/sandre_fmt_xml_hyd.xsd ou http://services.sandre.eaufrance.fr/References/1.3.0/jeuDonnees.php?recherche=533&function=getFicheNsa&v=3.1"}},"title":"QualifDonneesStationHydro"},"QualifsDonneesStationHydro":{"type":"object","properties":{"qualifDonneesStationHydro":{"type":"array","items":{"originalRef":"QualifDonneesStationHydro","$ref":"#/definitions/QualifDonneesStationHydro"}}},"title":"QualifsDonneesStationHydro"},"RefAlti":{"type":"object","properties":{"altitudeRefAlti":{"type":"number","format":"double","description":"Altitude : altitude du zéro de l’échelle dans le système altimétrique spécifié (en mètres). Cette information permet de convertir des hauteurs relatives en hauteurs absolues sur une échelle et donc de faire des comparaisons sur des chroniques de données importantes."},"dtActivationRefAlti":{"type":"string","description":"Date d'activation de la référence altimétrique"},"dtDebutRefAlti":{"type":"string","description":"Date de début de validité de la référence altimétrique"},"dtMajRefAlti":{"type":"string"},"sysAltiRefAlti":{"type":"integer","format":"int32","description":"Système altimétrique : système de référence altimétrique dans lequel est exprimée l'altitude du zéro de l’échelle. Même lexique que SysAltimetriqueSiteHydro"}},"title":"RefAlti"},"RefHyd":{"type":"object","properties":{"sitesHydro":{"originalRef":"SitesHydro","$ref":"#/definitions/SitesHydro"}},"title":"RefHyd"},"RefsAlti":{"type":"object","properties":{"refAlti":{"type":"array","items":{"originalRef":"RefAlti","$ref":"#/definitions/RefAlti"}}},"title":"RefsAlti"},"ReseauMesureStationHydro":{"type":"object","properties":{"codeSandreRdd":{"type":"string","description":"Code SANDRE du dispositif de collecte (réseau de mesure)"}},"title":"ReseauMesureStationHydro"},"ReseauxMesureStationHydro":{"type":"object","properties":{"reseauMesureStationHydro":{"type":"array","description":"Code SANDRE du dispositif de collecte (réseau de mesure)","items":{"originalRef":"ReseauMesureStationHydro","$ref":"#/definitions/ReseauMesureStationHydro"}}},"title":"ReseauxMesureStationHydro"},"Résultat d'une rêquete sur les observations hydrométriques":{"type":"object","required":["api_version","count","data","first","next","prev"],"properties":{"count":{"type":"integer","format":"int32","description":"Le nombre total de résultat"},"first":{"type":"string","description":"URL de la 1er page des résultats"},"prev":{"type":"string","description":"Toujours null"},"next":{"type":"string","description":"URL de la page suivante"},"api_version":{"type":"string","description":"Version de l'API (<a href='https://semver.org/' target='_blank'>https://semver.org/</a>)"},"data":{"type":"array","description":"Les résultats de la requête sous forme de liste","items":{"originalRef":"Observation hydrométrique temps réel","$ref":"#/definitions/Observation hydrométrique temps réel"}}},"title":"Résultat d'une rêquete sur les observations hydrométriques","description":"Résultat d'une rêquete sur les observations hydrométriques"},"Résultat d'une rêquete sur les observations élaborées":{"type":"object","required":["api_version","count","data","first","next","prev"],"properties":{"count":{"type":"integer","format":"int32","description":"Le nombre total de résultat"},"first":{"type":"string","description":"URL de la 1er page des résultats"},"prev":{"type":"string","description":"Toujours null"},"next":{"type":"string","description":"URL de la page suivante"},"api_version":{"type":"string","description":"Version de l'API (<a href='https://semver.org/' target='_blank'>https://semver.org/</a>)"},"data":{"type":"array","description":"Les résultats de la requête sous forme de liste","items":{"originalRef":"Observation hydrométrique","$ref":"#/definitions/Observation hydrométrique"}}},"title":"Résultat d'une rêquete sur les observations élaborées","description":"Résultat d'une rêquete sur les observations élaborées"},"Résultat d'une rêquete sur les sites hydrométriques":{"type":"object","required":["api_version","count","data","first","last","next","prev"],"properties":{"count":{"type":"integer","format":"int32","description":"Le nombre total de résultat"},"first":{"type":"string","description":"URL de la 1er page des résultats"},"last":{"type":"string","description":"URL de la dernière page des résultats (non disponible quand la pagination utilise un curseur)"},"prev":{"type":"string","description":"URL de la page précédente"},"next":{"type":"string","description":"URL de la page suivante"},"api_version":{"type":"string","description":"Version de l'API (<a href='https://semver.org/' target='_blank'>https://semver.org/</a>)"},"data":{"type":"array","description":"Les résultats de la requête sous forme de liste","items":{"originalRef":"Site hydrométrique","$ref":"#/definitions/Site hydrométrique"}}},"title":"Résultat d'une rêquete sur les sites hydrométriques","description":"Résultat d'une rêquete sur les sites hydrométriques"},"Résultat d'une rêquete sur les stations hydrométriques":{"type":"object","required":["api_version","count","data","first","last","next","prev"],"properties":{"count":{"type":"integer","format":"int32","description":"Le nombre total de résultat"},"first":{"type":"string","description":"URL de la 1er page des résultats"},"last":{"type":"string","description":"URL de la dernière page des résultats (non disponible quand la pagination utilise un curseur)"},"prev":{"type":"string","description":"URL de la page précédente"},"next":{"type":"string","description":"URL de la page suivante"},"api_version":{"type":"string","description":"Version de l'API (<a href='https://semver.org/' target='_blank'>https://semver.org/</a>)"},"data":{"type":"array","description":"Les résultats de la requête sous forme de liste","items":{"originalRef":"Station hydrométrique","$ref":"#/definitions/Station hydrométrique"}}},"title":"Résultat d'une rêquete sur les stations hydrométriques","description":"Résultat d'une rêquete sur les stations hydrométriques"},"Scenario":{"type":"object","properties":{"codeScenario":{"type":"string"},"dateHeureCreationFichier":{"type":"string"},"destinataire":{"originalRef":"Destinataire","$ref":"#/definitions/Destinataire"},"emetteur":{"originalRef":"Emetteur","$ref":"#/definitions/Emetteur"},"versionScenario":{"type":"string"}},"title":"Scenario"},"Serie":{"type":"object","properties":{"cdSiteHydro":{"type":"string","description":"Le site hydrométrique est identifié par un code unique au niveau national construit selon la règle suivante : [Code de la zone hydrographique sur 4 caractères sur laquelle est situé le site hydrologique] + [Numéro incrémental sans signification particulière sur 4 caractères]. Par exemple, J4310010 pour un site localisé sur la zone hydrologique J431."},"cdStationHydro":{"type":"string","description":"Code de la station hydrométrique. Chaque station est identifiée par un code unique pour un site donné. L'identifiant complet de la station hydrométrique est le code du site + le code de la station sur 2 caractères."},"dtDebSerie":{"type":"string","description":"Date de début de la série. Cette date doit être antérieure ou égale à la date de la première observation de la série."},"dtFinSerieObsHydro":{"type":"string","description":"Date de fin de la série. Cette date doit être supérieure ou égale à la date de la dernière observation."},"dtProdSerie":{"type":"string","description":"Date à laquelle l'observation à été intégrée par Hub'eau."},"grdSerie":{"type":"string","description":"Grandeur hydrométrique observée pour la série. 2 valeurs possibles : H, Q. Voir http://services.sandre.eaufrance.fr/References/1.3.0/jeuDonnees.php?recherche=509&function=getFicheNsa&v=3.1"},"obssHydro":{"originalRef":"ObssHydro","$ref":"#/definitions/ObssHydro"}},"title":"Serie"},"Series":{"type":"object","properties":{"serie":{"type":"array","items":{"originalRef":"Serie","$ref":"#/definitions/Serie"}}},"title":"Series"},"Site hydrométrique":{"type":"object","properties":{"code_site":{"type":"string","description":"Le site hydrométrique est identifié par un code unique au niveau national construit selon la règle suivante : [Code de la zone hydrographique sur 4 caractères sur laquelle est situé le site hydrologique] + [Numéro incrémental sans signification particulière sur 4 caractères]. Par exemple, J4310010 pour un site localisé sur la zone hydrologique J431. "},"libelle_site":{"type":"string","description":"Chaque site hydrométrique possède un intitulé à des fins d'identification rapide et de reprise dans la plupart des références. Il est établi de la manière suivante :<br>- article et nom du cours d'eau,<br>- précision sur le cours d'eau entre crochets (canal, bras rive gauche, dérivation, ...),<br>- à (au, aux)<br>- nom de la commune (définition INSEE avec l'utilisation impérative de 'St', 'Ste' et 'Stes' pour Saint, Sainte et Saintes)<br>- lieu-dit ou complément du nom,entre crochets (cf. attribut correspondant).<br>Exemples :<br>- La Seine à Paris [Pont d'Austerlitz],<br>- La Doller [totale] à Burnhaubt-le-Haut [Pont d'Aspach]"},"type_site":{"type":"string","description":"Type de site hydrométrique. 8 valeurs alphanumériques possibles parmi REEL, FICTIF, MAREGRAPHE, PONCTUEL, VIRTUEL, RECONSTITUE, PLANDEAU, SOURCE. Voir  http://services.sandre.eaufrance.fr/References/1.3.0/jeuDonnees.php?recherche=530&function=getFicheNsa&v=3.1"},"coordonnee_x_site":{"type":"number","format":"double","description":"Coordonnée X principale du site hydrométrique"},"coordonnee_y_site":{"type":"number","format":"double","description":"Coordonnée Y principale du site hydrométrique"},"code_projection":{"type":"integer","format":"int32","description":"Type de projection du site hydrométrique. Compris entre 0 et 64 http://www.sandre.eaufrance.fr/squelettes/consulter_fiche_attribut.php?attribut=ProjCoordSiteHydro&dictionnaire=/db/sandre/Schemas/hyd/2.1/sandre_fmt_xml_hyd.xsd ou http://services.sandre.eaufrance.fr/References/1.3.0/jeuDonnees.php?recherche=22&function=getFicheNsa&v=3.1 ou http://id.eaufrance.fr/nsa/22"},"longitude_site":{"type":"number","format":"double","description":"Longitude du point en WGS84 pour la recherche par rayon, le point doit être utilisé comme séparateur décimal, exemple : 1.937"},"latitude_site":{"type":"number","format":"double","description":"Latitude du point en WGS84 pour la recherche par rayon, le point doit être utilisé comme séparateur décimal, exemple : 47.829"},"altitude_site":{"type":"number","format":"double","description":"Altitude du site hydrométrique"},"code_systeme_alti_site":{"type":"integer","format":"int32","description":"Système de référence altimétrique du site hydrométrique. Compris entre 0 et 31 http://www.sandre.eaufrance.fr/squelettes/consulter_fiche_attribut.php?attribut=SysAltiSerie&dictionnaire=/db/sandre/Schemas/ohy/2/sandre_fmt_xml_ohy.xsd ou http://services.sandre.eaufrance.fr/References/1.3.0/jeuDonnees.php?recherche=76&function=getFicheNsa&v=3.1 ou http://id.eaufrance.fr/nsa/76"},"surface_bv":{"type":"number","format":"double","description":"Superficie du BV en kmÂ²"},"statut_site":{"type":"integer","format":"int32","description":"Compris entre 1 et 3 http://www.sandre.eaufrance.fr/squelettes/consulter_fiche_attribut.php?attribut=StatutSiteHydro&dictionnaire=/db/sandre/Schemas/hyd/2.1/sandre_fmt_xml_hyd.xsd ou http://services.sandre.eaufrance.fr/References/1.3.0/jeuDonnees.php?recherche=460&function=getFicheNsa&v=3.1"},"premier_mois_etiage_site":{"type":"integer","format":"int32","description":"Premier mois d'étiage du site hydro - Compris entre 1 et 12"},"premier_mois_annee_hydro_site":{"type":"integer","format":"int32","description":"Premier mois de l'année hydrologique du site hydro - Compris entre 1 et 12"},"influence_generale_site":{"type":"integer","format":"int32","description":"Influence générale du site hydro. Information déterminant la présence en amont ou en aval du site de mesure d’un ouvrage ou d’un cours d’eau qui a une influence hydrologique significative sur les mesures hydrométriques du site. Il s’agit ici d’une influence globale, valable pour toutes les stations d’un site et à différencier d’une influence locale attachée aux stations. - Compris entre 0 et 3 - http://www.sandre.eaufrance.fr/squelettes/consulter_fiche_attribut.php?attribut=InfluGeneSiteHydro&dictionnaire=/db/sandre/Schemas/hyd/2.1/sandre_fmt_xml_hyd.xsd ou http://services.sandre.eaufrance.fr/References/1.3.0/jeuDonnees.php?recherche=104&function=getFicheNsa&v=3.1"},"code_entite_hydro_site":{"type":"string","description":"Code générique de l'entité hydrographique - http://www.sandre.eaufrance.fr/squelettes/consulter_fiche_attribut.php?attribut=CdEntiteHydrographique&dictionnaire=/db/sandre/Schemas/eth/1/sandre_ref_eth.xsd"},"code_troncon_hydro_site":{"type":"string","description":"Le code du tronç on hydrographique est un code alphanumérique sur 8 positions. Au sens de la codification hydrographique de la circulaire nÂ°91-50 du 12 février 1991, il est obtenu à partir de la concaténation du code de l'entité hydrographique à laquelle appartient le tronç on et du code de la zone hydrographique que traverse le tronç on."},"code_commune_site":{"type":"array","description":"Code INSEE de la ou des communes où est implanté le site hydro","items":{"type":"string"}},"code_zone_hydro_site":{"type":"string","description":"Le code de la zone hydrographique est un code alphanumérique sur quatre positions qui identifie sur le plan national une zone hydrographique. Il est composé d'un numéro qui désigne la zone hydrographique au sein du sous-secteur hydrographique où elle se situe ainsi que du code de ce dernier."},"libelle_commune":{"type":"array","description":"Libellé(s) long de la commune","items":{"type":"string"}},"code_departement":{"type":"array","description":"Code(s) du département","items":{"type":"string"}},"code_region":{"type":"array","description":"Code(s) de la région (INSEE)","items":{"type":"string"}},"libelle_region":{"type":"array","description":"Libellé(s) long de la région","items":{"type":"string"}},"code_cours_eau":{"type":"string","description":"Code(s) du du cours d'eau"},"libelle_cours_eau":{"type":"string","description":"Libellé(s) long du cours d'eau"},"uri_cours_eau":{"type":"string","description":"URI(s) du cours d'eau"},"grandeur_hydro":{"type":"string","description":"Grandeur hydrométrique portée par le  site. 2 valeurs possibles : H, Q. Voir http://services.sandre.eaufrance.fr/References/1.3.0/jeuDonnees.php?recherche=509&function=getFicheNsa&v=3.1Pour un site, ne peut-être égal que à Q (ou vide)"},"date_maj_site":{"type":"string","format":"date-time","description":"Date de mise à jour du site hydrométrique"},"date_premiere_donnee_dispo_site":{"type":"string","format":"date-time","description":"Date de la première donnée disponible du site hydrométrique"},"commentaire_influence_generale_site":{"type":"string","description":"Commentaire influence générale du site hydro"},"commentaire_site":{"type":"string","description":"Commentaire général du site hydro "},"type_contexte_loi_stat_site":{"type":"array","description":"Contexte du site pour le choix de la loi statistique : 1-Module, 2-Crue, 3-Etiage. http://www.sandre.eaufrance.fr/squelettes/consulter_fiche_attribut.php?attribut=TypContexteLoiStat&dictionnaire=/db/sandre/Schemas/hyd/2.1/sandre_fmt_xml_hyd.xsd ou http://services.sandre.eaufrance.fr/References/1.3.0/jeuDonnees.php?recherche=521&function=getFicheNsa&v=3.1","items":{"type":"integer","format":"int32"}},"type_loi_site":{"type":"array","description":"Type de la loi statistique dans le contexte : 0-Inconnu, 1-Galton, 2-Gauss, 3-Gumbel. http://www.sandre.eaufrance.fr/squelettes/consulter_fiche_attribut.php?attribut=TypLoiSiteHydro&dictionnaire=/db/sandre/Schemas/hyd/2.1/sandre_fmt_xml_hyd.xsd ou http://services.sandre.eaufrance.fr/References/1.3.0/jeuDonnees.php?recherche=114&function=getFicheNsa&v=3.1","items":{"type":"integer","format":"int32"}},"libelle_departement":{"type":"array","description":"Libellé(s) long du département","items":{"type":"string"}},"geometry":{"description":"Géométrie du site dans le système de coordonnées WGS84","originalRef":"Point","$ref":"#/definitions/Point"}},"title":"Site hydrométrique","description":"Site hydrométrique"},"SiteHydro":{"type":"object","properties":{"altiSiteHydro":{"originalRef":"AltiSiteHydro","$ref":"#/definitions/AltiSiteHydro"},"bassinVersantSiteHydro":{"type":"number","format":"double","description":"Superficie du BV en kmÂ²"},"cdSiteHydro":{"type":"string","description":"Le site hydrométrique est identifié par un code unique au niveau national construit selon la règle suivante : [Code de la zone hydrographique sur 4 caractères sur laquelle est situé le site hydrologique] + [Numéro incrémental sans signification particulière sur 4 caractères]. Par exemple, J4310010 pour un site localisé sur la zone hydrologique J431. "},"cdTronconHydrographique":{"type":"string","description":"Le code du tronç on hydrographique est un code alphanumérique sur 8 positions. Au sens de la codification hydrographique de la circulaire nÂ°91-50 du 12 février 1991, il est obtenu à partir de la concaténation du code de l'entité hydrographique à laquelle appartient le tronç on et du code de la zone hydrographique que traverse le tronç on."},"comInfluGeneSiteHydro":{"type":"string","description":"Commentaire influence générale du site hydro"},"comSiteHydro":{"type":"string","description":"Commentaire général du site hydro "},"communes":{"description":"Code INSEE de la ou des communes où est implanté le site hydro","originalRef":"Communes","$ref":"#/definitions/Communes"},"coordSiteHydro":{"originalRef":"CoordSiteHydro","$ref":"#/definitions/CoordSiteHydro"},"dtMajSiteHydro":{"type":"string","description":"Date de mise à jour du site hydrométrique"},"dtPremDonSiteHydro":{"type":"string","description":"Date de la première donnée disponible du site hydrométrique"},"entiteHydrographique":{"description":"Code générique de l'entité hydrographique - http://www.sandre.eaufrance.fr/squelettes/consulter_fiche_attribut.php?attribut=CdEntiteHydrographique&dictionnaire=/db/sandre/Schemas/eth/1/sandre_ref_eth.xsd","originalRef":"EntiteHydrographique","$ref":"#/definitions/EntiteHydrographique"},"influGeneSiteHydro":{"type":"integer","format":"int32","description":"I
[...]
